@model Portal.Controllers.StockController.DataStockSearch
@{
    var holderOptions = Model.Holders
        .OrderBy(x => x.Surname)
        .Select(x => new
        {
            value = x.Id.ToString(),
            label = $"{x.Surname} {x.Name} {x?.Patronymic}".Replace("  ", " ").Trim()
        })
        .ToList();

    var ttOptions = Model.Locations
        .OrderBy(x => x.Name)
        .Select(x => new
        {
            value = x.Guid.ToString(),
            label = x.Name
        })
        .ToList();

    var categoryOptions = Model.MainCategories
        .OrderBy(x => x.Name)
        .Select(x => new
        {
            value = x.Id.ToString(),
            label = x.Name
        })
        .ToList();
}

<div class="stock_filters_wrapper">
    <div class="stock_filters">
        <div class="custom_slider" id="1">
            <div class="slider_option1" id="slider1" onclick="selectSide('green')">Только активные</div>
            <div class="slider_option2" id="slider2" onclick="selectSide('red')">Только списанные</div>
        </div>

        <div class="stock_custom_select stock_search_select" id="holdersCategorySelect" data-placeholder="Выберите ФИО">
            <input type="hidden" id="holdersCategory" value="" />
            <button type="button" class="stock_custom_select__trigger" onclick="toggleStockSearchSelect('holdersCategorySelect', event)">
                <span class="stock_custom_select__value stock_custom_select__value--placeholder">Выберите ФИО</span>
                <span class="stock_custom_select__arrow"></span>
            </button>
            <div class="stock_custom_select__dropdown">
                <div class="stock_custom_select__search_wrap">
                    <input type="text" class="stock_custom_select__search" placeholder="Поиск..." oninput="filterStockSearchSelect('holdersCategorySelect', this.value)" onclick="event.stopPropagation()" />
                </div>
                <div class="stock_custom_select__options"></div>
            </div>
        </div>

        <div class="stock_custom_select stock_search_select" id="ttSelectWrapper" data-placeholder="Выберите ТТ">
            <input type="hidden" id="ttSelect" value="" />
            <button type="button" class="stock_custom_select__trigger" onclick="toggleStockSearchSelect('ttSelectWrapper', event)">
                <span class="stock_custom_select__value stock_custom_select__value--placeholder">Выберите ТТ</span>
                <span class="stock_custom_select__arrow"></span>
            </button>
            <div class="stock_custom_select__dropdown">
                <div class="stock_custom_select__search_wrap">
                    <input type="text" class="stock_custom_select__search" placeholder="Поиск..." oninput="filterStockSearchSelect('ttSelectWrapper', this.value)" onclick="event.stopPropagation()" />
                </div>
                <div class="stock_custom_select__options"></div>
            </div>
        </div>

        <div class="stock_custom_select stock_search_select" id="categorySelectWrapper" data-placeholder="Выберите категорию">
            <input type="hidden" id="categorySelect" value="" />
            <button type="button" class="stock_custom_select__trigger" onclick="toggleStockSearchSelect('categorySelectWrapper', event)">
                <span class="stock_custom_select__value stock_custom_select__value--placeholder">Выберите категорию</span>
                <span class="stock_custom_select__arrow"></span>
            </button>
            <div class="stock_custom_select__dropdown">
                <div class="stock_custom_select__search_wrap">
                    <input type="text" class="stock_custom_select__search" placeholder="Поиск..." oninput="filterStockSearchSelect('categorySelectWrapper', this.value)" onclick="event.stopPropagation()" />
                </div>
                <div class="stock_custom_select__options"></div>
            </div>
        </div>

        <div class="stock_custom_select stock_search_select stock_custom_select--disabled" id="subCategorySelectWrapper" data-placeholder="Выберите подкатегорию">
            <input type="hidden" id="subCategorySelect" value="" />
            <button type="button" class="stock_custom_select__trigger" onclick="toggleStockSearchSelect('subCategorySelectWrapper', event)">
                <span class="stock_custom_select__value stock_custom_select__value--placeholder">Выберите подкатегорию</span>
                <span class="stock_custom_select__arrow"></span>
            </button>
            <div class="stock_custom_select__dropdown">
                <div class="stock_custom_select__search_wrap">
                    <input type="text" class="stock_custom_select__search" placeholder="Поиск..." oninput="filterStockSearchSelect('subCategorySelectWrapper', this.value)" onclick="event.stopPropagation()" />
                </div>
                <div class="stock_custom_select__options"></div>
            </div>
        </div>

        <div class="stock_custom_select stock_search_select stock_custom_select--disabled" id="subSubCategorySelectWrapper" data-placeholder="Выберите группу">
            <input type="hidden" id="subSubCategorySelect" value="" />
            <button type="button" class="stock_custom_select__trigger" onclick="toggleStockSearchSelect('subSubCategorySelectWrapper', event)">
                <span class="stock_custom_select__value stock_custom_select__value--placeholder">Выберите группу</span>
                <span class="stock_custom_select__arrow"></span>
            </button>
            <div class="stock_custom_select__dropdown">
                <div class="stock_custom_select__search_wrap">
                    <input type="text" class="stock_custom_select__search" placeholder="Поиск..." oninput="filterStockSearchSelect('subSubCategorySelectWrapper', this.value)" onclick="event.stopPropagation()" />
                </div>
                <div class="stock_custom_select__options"></div>
            </div>
        </div>

        <button class="stock_search_button btn btn-success" id="sendDataButton" onclick="sendData()">Поиск</button>
        <button class="stock_search_button btn btn-default" onclick="clearFields()">Очистить</button>
    </div>
</div>

<div class="header_stock_wrapper">
    <div class="header_stock">
        <p style="width: 20%">Категория</p>
        <p style="width: 20%">Подкатегория</p>
        <p style="width: 20%">Наименование</p>
        <p style="width: 30%" class="mobile_hidden">Держатель</p>
        <p style="width: 20%" class="mobile_hidden">ТТ</p>
        <p style="width: 10%">Количество</p>
    </div>

    <div id="null-message" style="text-align: center;" class="hidden">К сожалению, ничего не найдено</div>

    <div id="body_stock" class="body_stock"></div>
</div>

@* Модальное окно для просмотра истории *@
<div id="stockSearchHistoryModal" class="modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false" style="display: none;">
    <div class="modal-dialog modal-lg" style="width: 90%; max-width: 1100px;">
        <div class="modal-content">
            <div class="modal-header">
                <div class="pull-right" style="margin-right:10px; height:10px">
                    <label class="ico md-close" style="margin-top: -2px" data-dismiss="modal" onclick="closeModal()"></label>
                </div>
                <div class="modal-title" id="stockSearchHistoryTitle">История</div>
            </div>
            <div class="modal-body" id="card_details"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" onclick="closeModal()">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<script>
    const custom_slider = document.querySelector(".custom_slider");
    const slider1 = document.getElementById("slider1");
    const slider2 = document.getElementById("slider2");

    function selectSide(side) {
        if (side === "red") {
            custom_slider.id = 0;
            slider1.style = "width: 20px;justify-content: end;";
            slider2.style = "width: 120px";
        }

        if (side === "green") {
            custom_slider.id = 1;
            slider1.style = "width: 120px;";
            slider2.style = "width: 40px;";
        }
    }

    const modal = $("#stockSearchHistoryModal");
    const modal_header = document.getElementById("stockSearchHistoryTitle");

    function closeModal() {
        modal.modal("hide");
    }

    function openModalStockSearchCard(code, name) {
        modal_header.innerHTML = `<p>${code}</p> <b>${name}</b>`;
        modal.modal({
            backdrop: "static",
            keyboard: false,
            show: true
        });
        search(code);
    }

    async function search(code) {
        const data = await getData(code);
        buildInterface(data, code);
    }

    async function getData(id) {
        try {
            const response = await fetch('https://warehouseapi.ludilove.ru/api/transfer/GetObjectHistory?id=' + id, {
                method: 'GET',
                headers: {
                    'Authorization': `Bearer ${localStorage.getItem("token")}`
                }
            });

            return await response.json();
        } catch (e) {
            console.log(e.message);
        }
    }

    async function buildInterface(data, id) {
        const card_details = document.getElementById("card_details");

        const category = data[0]?.warehouseObjects?.warehouseCategories;

        if (!category) {
            console.error("Категория не найдена в данных");
            return;
        }

        let block = `
            <div class="details_history">
                <div class="history_card" style="background-color: #00ff001c">
                    <div class="history_card_header">Оприходование</div>
                </div>`;

        let str = "";

        data.filter(x => x?.warehouseAction?.id == 1).forEach((elem) => {
            if (elem.holder && elem.holder.patronymic == null) {
                elem.holder.patronymic = "";
            }

            str += `
                <div class="history_card">
                    <div class="history_card_body">
                        <p>${elem?.user}</p>
                        <p>${elem?.location?.name ? elem?.location?.name : ""}</p>
                        <p style='min-width: 115px;'>${elem?.dateTime.split(".")[0].split("T").join(" ").replace(/^(\d{4})-(\d{2})-(\d{2}) (\d{2}:\d{2}):\d{2}$/, "$3.$2.$1 $4")}</p>
                        <p style='overflow-wrap: anywhere;'>${elem?.comment ? elem?.comment : ""}</p>
                        <p>${elem?.holder?.name ? elem.holder.surname + " " + elem.holder.name + " " + elem.holder.patronymic : ""}</p>
                    </div>
                </div>`;
        });

        if (data.filter(x => x?.warehouseAction?.id == 2).length > 0) {
            str += `<div class="history_card" style="background-color: #ffff001c">
                        <div class="history_card_header">Перемещение</div>
                    </div>`;
        }

        data.filter(x => x?.warehouseAction?.id == 2).forEach((elem) => {
            if (elem.holder && elem.holder.patronymic == null) {
                elem.holder.patronymic = "";
            }

            str += `
                <div class="history_card">
                    <div class="history_card_body">
                        <p>${elem?.user}</p>
                        <p>${elem?.location?.name ? elem?.location?.name : ""}</p>
                        <p style='min-width: 115px;'>${elem?.dateTime.split(".")[0].split("T").join(" ").replace(/^(\d{4})-(\d{2})-(\d{2}) (\d{2}:\d{2}):\d{2}$/, "$3.$2.$1 $4")}</p>
                        <p style='overflow-wrap: anywhere;'>${elem?.comment ? elem?.comment : ""}</p>
                        <p>${elem?.holder?.name ? elem.holder.surname + " " + elem.holder.name + " " + elem.holder.patronymic : ""}</p>
                    </div>
                </div>`;
        });

        if (data.filter(x => x?.warehouseAction?.id == 3).length > 0) {
            str += `<div class="history_card" style="background-color: #ff00001c">
                    <div class="history_card_header">Списание</div>
                  </div>`;
        }

        data.filter(x => x?.warehouseAction?.id == 3).forEach((elem) => {
            if (elem.holder && elem.holder.patronymic == null) {
                elem.holder.patronymic = "";
            }

            str += `
                <div class="history_card">
                    <div class="history_card_body">
                        <p>${elem?.user}</p>
                        <p>${elem?.location?.name ? elem?.location?.name : ""}</p>
                        <p style='min-width: 115px;'>${elem?.dateTime.split(".")[0].split("T").join(" ").replace(/^(\d{4})-(\d{2})-(\d{2}) (\d{2}:\d{2}):\d{2}$/, "$3.$2.$1 $4")}</p>
                        <p style='overflow-wrap: anywhere;'>${elem?.comment ? elem?.comment : ""}</p>
                        <p>${elem?.holder?.name ? elem.holder.surname + " " + elem.holder.name + " " + elem.holder.patronymic : ""}</p>
                    </div>
                </div>`;
        });

        const resString = block + str + "</div></div>";
        card_details.innerHTML = resString;
    }

    let urlBackup;
    const holdersCategory = document.getElementById('holdersCategory');
    const ttSelect = document.getElementById('ttSelect');
    const categorySelect = document.getElementById('categorySelect');
    const subCategorySelect = document.getElementById('subCategorySelect');
    const subSubCategorySelect = document.getElementById('subSubCategorySelect');
    const sendDataButton = document.getElementById('sendDataButton');
    const nullMessage = document.getElementById('null-message');
    const body_stock = document.getElementById('body_stock');

    const stockSearchSelects = {
        holdersCategorySelect: {
            wrapper: document.getElementById('holdersCategorySelect'),
            hiddenInput: holdersCategory,
            placeholder: 'Выберите ФИО',
            options: @Html.Raw(System.Text.Json.JsonSerializer.Serialize(holderOptions)),
            searchValue: '',
            disabled: false,
            onChange: () => buttonSendTurnOn()
        },
        ttSelectWrapper: {
            wrapper: document.getElementById('ttSelectWrapper'),
            hiddenInput: ttSelect,
            placeholder: 'Выберите ТТ',
            options: @Html.Raw(System.Text.Json.JsonSerializer.Serialize(ttOptions)),
            searchValue: '',
            disabled: false,
            multiple: true,
            onChange: () => buttonSendTurnOn()
        },
        categorySelectWrapper: {
            wrapper: document.getElementById('categorySelectWrapper'),
            hiddenInput: categorySelect,
            placeholder: 'Выберите категорию',
            options: @Html.Raw(System.Text.Json.JsonSerializer.Serialize(categoryOptions)),
            searchValue: '',
            disabled: false,
            onChange: (value) => handleCategoryChange(value)
        },
        subCategorySelectWrapper: {
            wrapper: document.getElementById('subCategorySelectWrapper'),
            hiddenInput: subCategorySelect,
            placeholder: 'Выберите подкатегорию',
            options: [],
            searchValue: '',
            disabled: true,
            onChange: (value) => handleSubCategoryChange(value)
        },
        subSubCategorySelectWrapper: {
            wrapper: document.getElementById('subSubCategorySelectWrapper'),
            hiddenInput: subSubCategorySelect,
            placeholder: 'Выберите группу',
            options: [],
            searchValue: '',
            disabled: true,
            onChange: () => buttonSendTurnOn()
        }
    };

    function escapeHtml(value) {
        return String(value ?? '')
            .replace(/&/g, '&amp;')
            .replace(/</g, '&lt;')
            .replace(/>/g, '&gt;')
            .replace(/"/g, '&quot;')
            .replace(/'/g, '&#39;');
    }

    function closeAllStockSearchSelects() {
        Object.values(stockSearchSelects).forEach(config => {
            config.wrapper.classList.remove('stock_custom_select--open');
        });
    }

    function getStockSearchValues(config) {
        if (!config.multiple) {
            return config.hiddenInput.value ? [config.hiddenInput.value] : [];
        }

        if (!config.hiddenInput.value) {
            return [];
        }

        try {
            const parsedValue = JSON.parse(config.hiddenInput.value);
            return Array.isArray(parsedValue) ? parsedValue.filter(Boolean) : [];
        } catch {
            return [];
        }
    }

    function setStockSearchValues(selectId, values, invokeChange) {
        const config = stockSearchSelects[selectId];
        const normalizedValues = (values || [])
            .filter(value => config.options.some(option => option.value === value));

        config.hiddenInput.value = config.multiple
            ? JSON.stringify(normalizedValues)
            : (normalizedValues[0] || '');
        config.searchValue = '';
        renderStockSearchSelect(selectId);

        if (invokeChange && typeof config.onChange === 'function') {
            config.onChange(config.multiple ? normalizedValues : config.hiddenInput.value);
        }
    }

    function renderStockSearchSelect(selectId) {
        const config = stockSearchSelects[selectId];
        const triggerValue = config.wrapper.querySelector('.stock_custom_select__value');
        const searchInput = config.wrapper.querySelector('.stock_custom_select__search');
        const optionsContainer = config.wrapper.querySelector('.stock_custom_select__options');
        const selectedValues = getStockSearchValues(config);
        const selectedOptions = config.options.filter(option => selectedValues.includes(option.value));
        const filterValue = (config.searchValue || '').trim().toLowerCase();

        if (!selectedOptions.length) {
            triggerValue.textContent = config.placeholder;
        } else if (!config.multiple || selectedOptions.length === 1) {
            triggerValue.textContent = selectedOptions[0].label;
        } else if (selectedOptions.length <= 2) {
            triggerValue.textContent = selectedOptions.map(option => option.label).join(', ');
        } else {
            triggerValue.textContent = `Выбрано: ${selectedOptions.length}`;
        }

        triggerValue.classList.toggle('stock_custom_select__value--placeholder', !selectedOptions.length);
        searchInput.value = config.searchValue || '';

        let html = '';

        if (selectedValues.length) {
            html += `<button type="button" class="stock_custom_select__option stock_custom_select__option--clear" data-value="">Сбросить выбор</button>`;
        }

        const filteredOptions = config.options.filter(option => {
            if (!filterValue) {
                return true;
            }

            return option.label.toLowerCase().includes(filterValue);
        });

        if (filteredOptions.length) {
            filteredOptions.forEach(option => {
                const selectedClass = selectedValues.includes(option.value) ? ' stock_custom_select__option--selected' : '';
                html += `<button type="button" class="stock_custom_select__option${selectedClass}" data-value="${escapeHtml(option.value)}">${escapeHtml(option.label)}</button>`;
            });
        } else {
            html += `<div class="stock_custom_select__empty">Ничего не найдено</div>`;
        }

        optionsContainer.innerHTML = html;
    }

    function setStockSearchDisabled(selectId, disabled) {
        const config = stockSearchSelects[selectId];
        config.disabled = disabled;
        config.wrapper.classList.toggle('stock_custom_select--disabled', disabled);

        if (disabled) {
            config.wrapper.classList.remove('stock_custom_select--open');
        }
    }

    function setStockSearchValue(selectId, value, invokeChange) {
        const config = stockSearchSelects[selectId];
        if (config.multiple) {
            const currentValues = getStockSearchValues(config);
            const nextValues = value
                ? (currentValues.includes(value)
                    ? currentValues.filter(item => item !== value)
                    : [...currentValues, value])
                : [];

            setStockSearchValues(selectId, nextValues, invokeChange);
            return;
        }

        setStockSearchValues(selectId, value ? [value] : [], invokeChange);
    }

    function setStockSearchOptions(selectId, options, disabled) {
        const config = stockSearchSelects[selectId];
        config.options = options || [];
        config.searchValue = '';
        config.hiddenInput.value = config.multiple ? '[]' : '';
        setStockSearchDisabled(selectId, disabled);
        renderStockSearchSelect(selectId);
    }

    function toggleStockSearchSelect(selectId, event) {
        event.stopPropagation();

        const config = stockSearchSelects[selectId];
        if (config.disabled) {
            return;
        }

        const shouldOpen = !config.wrapper.classList.contains('stock_custom_select--open');
        closeAllStockSearchSelects();

        if (shouldOpen) {
            config.wrapper.classList.add('stock_custom_select--open');

            window.setTimeout(() => {
                config.wrapper.querySelector('.stock_custom_select__search').focus();
            }, 0);
        }
    }

    function filterStockSearchSelect(selectId, value) {
        stockSearchSelects[selectId].searchValue = value;
        renderStockSearchSelect(selectId);
        stockSearchSelects[selectId].wrapper.classList.add('stock_custom_select--open');
    }

    async function handleCategoryChange(value) {
        setStockSearchOptions('subCategorySelectWrapper', [], true);
        setStockSearchOptions('subSubCategorySelectWrapper', [], true);

        if (!value) {
            buttonSendTurnOn();
            return;
        }

        await enableOtherSelect(value, 1);
    }

    async function handleSubCategoryChange(value) {
        setStockSearchOptions('subSubCategorySelectWrapper', [], true);

        if (!value) {
            buttonSendTurnOn();
            return;
        }

        await enableOtherSelect(value, 2);
    }

    async function enableOtherSelect(id, level) {
        if (!id) {
            return;
        }

        try {
            $("#spinner").show();

            const response = await fetch("https://warehouseapi.ludilove.ru/api/category/childCategories?id=" + encodeURIComponent(id), {
                method: 'GET',
                headers: {
                    'Authorization': `Bearer ${localStorage.getItem("token")}`
                }
            });

            if (!response.ok) {
                throw new Error('Не удалось загрузить категории');
            }

            const result = await response.json();
            const options = result.map(x => ({
                value: String(x.id),
                label: x.name
            }));

            if (level === 1) {
                setStockSearchOptions('subCategorySelectWrapper', options, !options.length);
            } else {
                setStockSearchOptions('subSubCategorySelectWrapper', options, !options.length);
            }

            buttonSendTurnOn();
        } catch (e) {
            console.error(e.message);
        } finally {
            $("#spinner").hide();
        }
    }

    async function sendData() {
        const obj = {
            holdersCategory: holdersCategory.value || null,
            ttSelect: getStockSearchValues(stockSearchSelects.ttSelectWrapper),
            category: subSubCategorySelect.value || subCategorySelect.value || categorySelect.value || null
        };

        try {
            $("#spinner").show();
            const response = await fetch('/Stock/SearchStockItems', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    holder: obj.holdersCategory,
                    cathegory: obj.category,
                    locationGuids: obj.ttSelect,
                    actual: Number(custom_slider.id)
                })
            });

            if (!response.ok) {
                throw new Error('Не удалось загрузить данные склада');
            }

            const result = await response.json();

            if (!result.length) {
                body_stock.innerHTML = "";
                urlBackup = '';
                return nullMessage.classList.remove('hidden');
            }

            urlBackup = '';
            showData(result, custom_slider.id);
        } catch (e) {
            console.error(e.message);
        } finally {
            $("#spinner").hide();
        }
    }

    function showData(data, sliderId) {
        body_stock.innerHTML = "";
        nullMessage.classList.add('hidden');

        data.forEach((category) => {
            if (category.warehouseHolder && category.warehouseHolder.patronymic == null) {
                category.warehouseHolder.patronymic = "";
            }

            body_stock.innerHTML += `
                <div class="body_main_item header_stock" onclick="showDetails(${category.mainCat.id})">
                    <p style="width: 20%">${category.mainCat ? category.mainCat.name : "-"}</p>
                    <p style="width: 20%">${category.cat ? category.cat.name : "-"}</p>
                    <p style="width: 20%">${category.secondCat ? category.secondCat.name : "-"}</p>
                    <p style="width: 30%" class="mobile_hidden">${category.warehouseHolder ? category.warehouseHolder.surname + " " + category.warehouseHolder.name + " " + category.warehouseHolder.patronymic : "-"}</p>
                    <p style="width: 20%" class="mobile_hidden">${category.location ? category.location.name : "-"}</p>
                    <p style="width: 10%">${category.items.length}</p>
                </div>
            `;

            category.items.forEach(items => {
                let name;
                if (items.mainCat) name = items.mainCat.name;
                if (items.cat) name = items.cat.name;
                if (items.secondCat) name = items.secondCat.name;

                let color;
                if (items.warehouseHolder === null && items?.location?.guid === "c6c585f2-2825-4946-88a7-92ce7c97013c") {
                    color = "#00ff0625";
                }

                if (sliderId === "0") {
                    color = "#ff00003d";
                }

                if (items.warehouseHolder && items.warehouseHolder.patronymic == null) {
                    items.warehouseHolder.patronymic = "";
                }

                name = name.replace(/["']/g, '\\"');

                body_stock.innerHTML += `
                    <div style="background-color: ${color}" class="body_main_item header_stock main_item_children children-${category.mainCat.id} hidden" onClick='openModalStockSearchCard("${items.code}", "${name}")'>
                        <p style="width: 20%">${items.mainCat ? items.mainCat.name : "-"}</p>
                        <p style="width: 20%">${items.cat ? items.cat.name : "-"}</p>
                        <p style="width: 20%">${items.secondCat ? items.secondCat.name : "-"}</p>
                        <p style="width: 30%" class="mobile_hidden">${items.warehouseHolder ? items.warehouseHolder.surname + " " + items.warehouseHolder.name + " " + items.warehouseHolder.patronymic : "-"}</p>
                        <p style="width: 20%" class="mobile_hidden">${items.location ? items.location.name : "-"}</p>
                        <p style="width: 20%">${items.code}</p>
                    </div>
                `;
            });
        });
    }

    function loadCard(code) {
        $('#container-fluid').load('/Stock/StockSearchCard?code=' + code.trim());
    }

    function showDetails(id) {
        document.querySelectorAll('.children-' + id).forEach(x => {
            x.classList.toggle("hidden");
        });
    }

    function clearFields() {
        closeAllStockSearchSelects();
        setStockSearchValue('holdersCategorySelect', '', false);
        setStockSearchValues('ttSelectWrapper', [], false);
        setStockSearchValue('categorySelectWrapper', '', false);
        setStockSearchOptions('subCategorySelectWrapper', [], true);
        setStockSearchOptions('subSubCategorySelectWrapper', [], true);
        sendDataButton.disabled = true;
    }

    function buttonSendTurnOn() {
        sendDataButton.disabled = false;
    }

    document.addEventListener('click', function (event) {
        const option = event.target.closest('.stock_custom_select__option');
        if (option) {
            const wrapper = option.closest('.stock_custom_select');
            setStockSearchValue(wrapper.id, option.dataset.value || '', true);
            if (!stockSearchSelects[wrapper.id].multiple || !option.dataset.value) {
                closeAllStockSearchSelects();
            }
            return;
        }

        if (!event.target.closest('.stock_custom_select')) {
            closeAllStockSearchSelects();
        }
    });

    Object.keys(stockSearchSelects).forEach(renderStockSearchSelect);
</script>

<style>
    .stock_custom_select {
        position: relative;
        min-width: 200px;
        width: 200px;
        flex: 0 0 auto;
    }

    .stock_custom_select__trigger {
        position: relative;
        width: 100%;
        height: 40px;
        padding: 6px 34px 6px 12px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background: #fff;
        color: #555;
        font-size: 14px;
        line-height: 20px;
        text-align: left;
        overflow: hidden;
    }

    .stock_custom_select__value {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .stock_custom_select__value--placeholder {
        color: #777;
    }

    .stock_custom_select__arrow {
        position: absolute;
        right: 12px;
        top: 50%;
        width: 8px;
        height: 8px;
        border-right: 2px solid #777;
        border-bottom: 2px solid #777;
        transform: translateY(-60%) rotate(45deg);
        transition: transform 0.15s ease;
        pointer-events: none;
    }

    .stock_custom_select__dropdown {
        position: absolute;
        top: calc(100% + 4px);
        left: 0;
        right: 0;
        display: none;
        border: 1px solid #ccc;
        border-radius: 5px;
        background: #fff;
        box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
        z-index: 50;
    }

    .stock_custom_select__search_wrap {
        padding: 8px;
        border-bottom: 1px solid #eee;
    }

    .stock_custom_select__search {
        width: 100%;
        height: 32px;
        padding: 6px 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        outline: none;
    }

    .stock_custom_select__search:focus {
        border-color: #66afe9;
        box-shadow: 0 0 0 2px rgba(102, 175, 233, 0.15);
    }

    .stock_custom_select__options {
        max-height: 240px;
        overflow-y: auto;
        padding: 4px 0;
    }

    .stock_custom_select__option,
    .stock_custom_select__empty {
        display: block;
        width: 100%;
        padding: 8px 12px;
        border: 0;
        background: transparent;
        color: #333;
        font-size: 14px;
        text-align: left;
    }

    .stock_custom_select__option:hover {
        background: #f3f5f7;
    }

    .stock_custom_select__option--selected {
        position: relative;
        background: linear-gradient(90deg, #d7ecff 0%, #edf6ff 100%);
        color: #0b4f8a;
        font-weight: 700;
        box-shadow: inset 4px 0 0 #1f7ed0;
    }

    .stock_custom_select__option--clear {
        color: #8a6d3b;
        border-bottom: 1px solid #eee;
    }

    .stock_custom_select__empty {
        color: #888;
        cursor: default;
    }

    .stock_custom_select--open .stock_custom_select__dropdown {
        display: block;
    }

    .stock_custom_select--open .stock_custom_select__arrow {
        transform: translateY(-35%) rotate(-135deg);
    }

    .stock_custom_select--disabled .stock_custom_select__trigger {
        background: #f5f5f5;
        color: #999;
        cursor: default;
    }

    .stock_custom_select--disabled .stock_custom_select__arrow {
        border-color: #bcbcbc;
    }

    @@media (max-width: 768px) {
        .stock_custom_select {
            width: 100%;
            min-width: 0;
        }
    }
</style>
