@model Portal.Global.Functions.TokenData;

<!--горизонтальные меню над контентом-->
<div class="cm-flex">
    <div class="nav-tabs-container">
        <ul class="nav nav-tabs">
            @if(User.IsInRole("warehouse_admin"))
            {
                <li class="active"><a href="" data-toggle="tab" onclick="$('#container-fluid').load('/Stock/Stock')">Структура</a></li>
                <li><a href="" data-toggle="tab" onclick="$('#container-fluid').load('/Stock/StockTransfer')">Передача</a></li>
                <li><a href="" data-toggle="tab" onclick="$('#container-fluid').load('/Stock/StockSearch')">Поиск</a></li>
                <li><a href="" data-toggle="tab" onclick="$('#container-fluid').load('/Stock/StockSearchCard')">Карточка</a></li>
            }
            else
            {
                <li class="active"><a href="" data-toggle="tab" onclick="$('#container-fluid').load('/Stock/StockTransfer')">Передача</a></li>
                <li><a href="" data-toggle="tab" onclick="$('#container-fluid').load('/Stock/StockSearch')">Поиск</a></li>
                <li><a href="" data-toggle="tab" onclick="$('#container-fluid').load('/Stock/StockSearchCard')">Карточка</a></li>
            }
            
        </ul>
    </div>
</div>


<script style="font-size: 0px">
    localStorage.setItem("token", "@Html.Raw(Model.token)");
</script>