<!--горизонтальные меню над контентом-->
<div class="cm-flex">
    <div class="nav-tabs-container">
        <ul class="nav nav-tabs">
            <li class="active"><a href="" data-toggle="tab" onclick="$('#container-fluid').load('/Stock/Stock')">Структура</a></li>
            <li><a href="" data-toggle="tab" onclick="$('#container-fluid').load('/Stock/StockTransfer')">Передача</a></li>
            <li><a href="" data-toggle="tab" onclick="$('#container-fluid').load('/Stock/StockSearch')">Поиск</a></li>
            <li><a href="" data-toggle="tab" onclick="$('#container-fluid').load('/Stock/StockSearchCard')">Карточка</a></li>
        </ul>
    </div>
</div>
