<!--горизонтальные меню над контентом-->
<div class="cm-flex">
    <div class="nav-tabs-container">
        <ul class="nav nav-tabs">
            <li class="active"><a href="" data-toggle="tab" onclick="loadUrl('/Settings_Access/Users')">пользователи</a></li>
            @if (!User.IsInRole("HR"))
            {
                <li><a href="" data-toggle="tab" onclick="loadUrl('/Settings_Access/Groups')">группы</a></li>
                <li><a href="" data-toggle="tab" onclick="loadUrl('/Settings_Access/Roles')">роли</a></li>
            }
        </ul>
    </div>
</div>