<!--горизонтальные поразделы над контентом-->
<div class="cm-flex">
    <div class="nav-tabs-container">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#link" data-toggle="tab" onclick="$(contentContainer).load('/Access/Users')">пользователи</a></li>
            <li><a href="#link" data-toggle="tab" onclick="$(contentContainer).load('/Access/Groups')">группы</a></li>
            <li><a href="#link" data-toggle="tab" onclick="$(contentContainer).load('/Access/TTs')">торговые точки</a></li>
            <li><a href="#link" data-toggle="tab" onclick="$(contentContainer).load('/Access/AddUser')">добавить пользователя</a></li>
            <li><a href="#link" data-toggle="tab" onclick="$(contentContainer).load('/Access/AddGroup')">добавить группу</a></li>
        </ul>
    </div>
</div>