<!--горизонтальные поразделы над контентом-->
<div class="cm-flex">
    <div class="nav-tabs-container">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#link" data-toggle="tab" onclick="{ $('#loading').show(); $(contentContainer).load('/Settings/Rk_Settings') }">настройки</a></li>
            <li><a href="#link" data-toggle="tab" onclick="{ $('#loading').show(); $(contentContainer).load('/Settings/Rk_Requests') }">запросы</a></li>
        </ul>
    </div>
</div>