<!--шапка-->
<div id="headMenu" class="row" style="margin:0px">
    <div class="col-12">

        <!--блок заголовка-->
        <table class="table-page-menu" style="margin-top: 10px; margin-bottom: 10px">
            <tbody>
                <tr>
                    <!--назад-->
                    <td id="back" style="text-align:left; width:100px; cursor:pointer">
                        <img src="/themes/clearmin/img/md/dark/keyboard-backspace.svg" height="38" width="24" style="cursor:pointer">
                        <label style="margin-left:10px; cursor:pointer">назад</label>
                    </td>
                    <!--заголовок-->
                    <td>
                        <h2 id="header" style="margin:0px; margin-left:5px; margin-right:20px; margin-bottom:6px"></h2>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="page" style="margin-top:15px"></div>


<!------------------------------------------------------------------------------------------------------------------->
<!--загрузка таблицы пользователей-->
<script>
    function loadTrackingDataTable() {
        try{
            SpinnerShow();
            const calendarBegin = localStorage.getItem("calendarBegin");
            const calendarEnd = localStorage.getItem("calendarEnd");
            let selectedOptionId = localStorage.getItem("selectedOptionId");
            $('#loading').show();
            if (calendarBegin != null && calendarEnd != null && selectedOptionId != null){
                $('#page').load('/TimeTracking/TrackingdataTable?begin=' + calendarBegin + '&end=' + calendarEnd + '&locationguid=' + selectedOptionId);
            } else {
                $('#page').load('/TimeTracking/TrackingdataTable')
            }
            

        }
        catch{
            document.getElementById('page').innerHTML = 'Сейчас недоступно'
        }
        
    }
</script>

<script>
    function TrackingDataTable() {
        $('#header').text('Табель');
        $('#back').unbind('click');
        $('#back').click(function () {
            localStorage.clear();
            location.hash = "#staff" 
        });
        $('#tableMenu').show();
        $('#editMenu').hide();
        $('#addMenu').hide();
        $('#page').empty();
        loadTrackingDataTable();
    }
    TrackingDataTable();

    function swapToChart() {
        $("#container-fluid").load('/TimeTracking/TrackingChart')
    }
</script>

