/* Иконка для бокового меню */
.tableIcon{background-image:url("~/svg/panels/table.svg")!important;}

/* Шапка */
.tableMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.userActive {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.textForCheckbox {
    display: inline-block;
    white-space: nowrap;
    margin-right: 20px;
    justify-content: bottom;
}
/* Шапка конец */

/* Маркеры */
.notation {
    display: flex;
    flex-direction: row;
    width: 60%;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.notation > p {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    min-width: 154px;
}

.p_green::before {
    content: ' ';
    width: 15px;
    height: 15px;
    background-color: #d2f9da;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 1px;
    border: 1px solid #89bb94;
}

.p_gray::before {
    content: ' ';
    width: 15px;
    height: 15px;
    background-color: #b4b4b47e;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 1px;
    border: 1px solid #4d4d4d7e;
}

.p_red::before {
    content: ' ';
    width: 15px;
    height: 15px;
    background-color: #ff9d9d;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 1px;
    border: 1px solid #d76565;
}

.green_p {
    width: 15px;
    height: 15px;
    background-color: #d2f9da;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid #89bb94;
    margin-left: 13px;
}

.gray_p {
    width: 15px;
    height: 15px;
    background-color: #b4b4b47e;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid #4d4d4d7e;
    margin-left: 13px;
}

.red_p {
    width: 15px;
    height: 15px;
    background-color: #ff9d9d;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid #d76565;
    margin-left: 13px;
}

.vertical-flex {
    display: flex;
    align-items: center;
}

/* Тумблер  */
.switch {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 16px;
}

.switch__input {
    height: 0;
    width: 0;
    opacity: 0;
}

.switch__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 34px;
    background-color: rgba(0, 0, 0, 0.301);
    box-shadow: inset 0 0 5px #0000003d;
}

.switch__slider::before {
    content: '';
    position: absolute;
    cursor: pointer;
    top: -4px;
    left: -1px;
    bottom: 4px;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: white;
    transition: transform linear 0.25s;
    box-shadow: 0 0 5px #b4b4b4;
}

.switch__input:focus + .switch__slider {
    box-shadow: inset 0 0 5px #0000003d;
}

.switch__input:checked + .switch__slider::before {
    background-color: #e67e22;
    transform: translateX(18px);
}

.switch__input:checked + .switch__slider{
    background-color: #e67d2283 !important;
    box-shadow: inset 0 0 5px #0000003d;
}

/* Тумблер конец */



/* Страница добавления пользователя */

/* Уменьшение размера таблицы при раскрытии меню */
@media (min-width: 992px) {
    .container-fluid {
        margin-left: 262px;
    }
}


.panel-default-person{
    height: 80vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px rgba(0, 0, 0, 0.527);
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.titlePersontable {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 63vw;
    align-items: center;
    border-bottom: 1px solid #ABABAA;
    padding-bottom: 5px;
}

.personData {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.tdPersonTable{
    padding-left: 10px !important;
}

.leftBlockPersonData, .rightBlockPersonData{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    /*box-shadow: 0px 0px 5px 1px #00000026;*/
}

.rightBlockPersonData{
    border-left: 1px solid #8782825c;
    padding-left: 33px;
}

.inputPersonData {
    width: 18vw;
    height: 4vh;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    padding: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    transition: border-color linear 1.2s;
    transition: box-shadow linear 1.2s;
    min-height: 37px;
}

.rightBlockPersonData__versions{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #ccc;
    padding: 15px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}

.correctForData{
    width: 15.3vw;
}

.actual {
    width: 9vw !important;
    height: 4vh;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    padding: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    transition: border-color linear 1.2s;
    transition: box-shadow linear 1.2s;
}
.actual:focus{
    border-color: #418dffd0 !important;
    box-shadow: 0px 0px 4px 2px #418dff79 !important;
}

.inputPersonData:focus {
    border-color: #418dffd0 !important;
    box-shadow: 0px 0px 4px 2px #418dff79 !important;
}



.label-light {
    margin-left: 2px;
    padding: 0;
    margin-bottom: 4px;
}

.statePersonData {
    margin-top: 30px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

.buttonAddPersonData {
    font-size: 11px;
    width: 85px;
    height: 30px;
    color: #FFF;
    font-weight: bold;
    border: 1px solid #27b765;
    background-color: #2ECC71;
    border-radius: 2px;
}

.buttonAddPersonData:hover {
    border: 1px solid #27b765;
    background-color: #3d9c65;
}

.buttonClearPersonData{
    color: #FFF;
    border: 1px solid #8a8a89;
    background-color: #ABABAA;
}

.buttonClearPersonData:hover{
    border: 1px solid #7c7c7c;
    background-color: #929292;
}

.buttonDeletePersonData {
    border: 1px solid #E43725;
    background-color: #E74C3C;
}

.buttonDeletePersonData:hover {
    border: 1px solid #c73120;
    background-color: #d14536;
}

.hiddenPerson{
    display: none;
}



.textForCheckbox {
    color: #ABABAA;
}

.switch {
    margin: 0;
}

::-webkit-input-placeholder {
    opacity: 0.5;
}

/* Вид для телефона */
@media screen and (max-width: 600px) and (orientation: portrait){

    .actual {
        width: 35vw !important;
        margin-bottom: 0;
    }

    .notation {
        display: none ;
    }

    .tableMenu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .tableMenu1{
        justify-content: space-around;
    }

    .userActive {
        margin-top: 20px; 
    }

    #header {
        text-align: left;
    }

    .panel-default-person{
        justify-content: top;
        flex-direction: column;
        width: 93vw;
        height: fit-content;
        
    }

    /* Отображение страницы */
    
    .personData{
        flex-direction: column;
        width: 100%;
    }

    #user-form {
        flex-direction: column;
    }

    .leftBlockPersonData, .rightBlockPersonData {
        box-shadow: none;
        padding: 0;
        margin: 0;
        padding-left: 6%;
        padding-top: 10px;
    }

    .inputPersonData {
        width: 80vw;
        height: 5vh;
    }

    .rightBlockPersonData__versions {
        width: 80vw;
    }

    #VersionStartDate, #VersionEndDate {
        width: 72vw;
    }

    .buttonClearPersonData {
        margin-right: 8%;
    }

    /* --------------------- */

    .buttonAddPersonData {
        width: 90px;
        margin-bottom: 40px;
        height: 40px;
    }

    hr {
        margin: 1px;
        padding: 1px;
    }

    .titlePersontable{
        padding-top: 20px;
        width: 80vw;
        padding-bottom: 5px;
    }

    .statePersonData{
        padding: 5px;
        margin-top: 2.8vh;
    }

    .buttonAddPerson {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 2.6vh;
    }

    .rightBlockPersonData{
        border: none;
    }
}

/* Вид для телефона */
@media screen and (min-width: 1000px) and (orientation: landscape){

    hr {
        margin: 1px;
        padding: 1px;
    }

    .titlePersontable {
        margin-top: 40px;
    }

    .text-muted {
        margin-left: 7px;
    }

    .buttonAddPerson {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 1.3vh;
    }
}

#user-form{
    display: flex;
}

#buttonLocVer {
    background-color: #d9d9d9;
    border: 1px solid #8d8d8d;
    border-radius: 2px;
    height: 28px;
    
}

#divForButtonLocVer {
    margin-top: 20px;
    float: right;
}

.classForStyles {
    margin: 0;
    margin-top: 10px;
}

#ScheduleGUID:disabled {
    background: #ededed;
}

#EntityCostGUID:disabled {
    background: #ededed;
}


.partTimertWrapper {
    display: flex;
    gap: 10px;
    padding: 5px 0px 12px 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.partTimertWrapper > input {
    height: 25px;
    width: 25px;
}

#jobTitlePerson:disabled {
    background: #ededed;
}

.buttonLMK {
    height: 37px;
    background: none;
    border: 1px solid #CCC;
    border-radius: 2px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 23px 0px;
    padding: 0;
    transition: all 0.15s linear;
    font-family: 'Akrobat-Light';
    font-size: 16px;
}

.buttonLMK:hover {
    background-color: #f5f5f5;
    border-color: #b7b7b7;
}

.modalLMK-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur(1px);
    animation: fadeIn 0.3s ease;
}

.modalLMK-container {
    background-color: white;
    border: 1px solid #CCC;
    width: 60%;
    height: 80%;
    border-radius: 2px;
}

.modalLMK-header {
    min-height: 60px;
    max-height: 60px;
    height: 60px;
    width: 100%;
    border-bottom: 1px solid #CCC;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Akrobat-Regular';
    font-size: 18px;
}

.modalLMK-body {
    width: 100%;
    height: calc(100% - 120px);
}

.modalLMK-footer {
    min-height: 60px;
    max-height: 60px;
    height: 60px;
    width: 100%;
    border-top: 1px solid #CCC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonLMK-close {
    padding: 4px 18px;
    font-family: 'Akrobat-Regular';
    border: 1px solid #CCC;
    border-radius: 2px;
    font-size: 14px;
    text-transform: uppercase;
}

.buttonLMK-close:hover {
    background-color: #f5f5f5;
    border-color: #b7b7b7;
}