@media screen and (orientation: portrait) {
    .calculator-mainbar {
        margin-right: 10%;
        margin-left: 10%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
    }

    .calculator-leftbar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .calculator-rightbar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .calculator__button {
        width: 45% !important;
        margin-bottom: 20px;
    }

    .button__placeholder {
        width: 100%;
    }

    .ttbut_styles {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

}

@media screen and (orientation: landscape) {
    .calculator-mainbar {
        margin-right: 10%;
        margin-left: 10%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
    }
}


.calculator-bars {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.calculator-bar {
    margin: 3px;
    width: 200px;
    background-color: #f47a1a;
    text-align: center;
}

.div-img {
    text-align: center;
    height: 200px;
}


.calculator-img {
    height: 100%;
}

.calculator-table th {
    border: 1px solid #ccc;
    padding: 5px;
}

.calculator-table td {
    border: 1px solid #ccc;
    padding: 5px;
}

.calculator-table tbody tr:nth-child(odd) {
    background-color: #eeefef;
}

.calculator-table tbody tr:nth-child(even) {
    background-color: #ffffff;
}

.calculator-table tbody tr:hover td {
    background: #f47a1a;
}

.ttbut {
    background: #f47920;
    margin: 5px;
    border: none;
    color: white;
    width: 190px;
    height: 40px;
    border-radius: 2px;
}

.button__placeholder {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calculator__button {
    width: 40%;
    height: 4vh;
    border: none;
    border-radius: 4px;
    background-color: #f47a1a;
    color: white;
    transition: scale 0.2s linear;
}

.calculator__button:hover {
    scale: 1.02;
    background-color: #cf6616;
}

