@media screen and (orientation: portrait) {
    .calculator-mainbar {
        margin-right: 10%;
        margin-left: 10%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
    }

    .calculator-leftbar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .calculator-rightbar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
    }
}

@media screen and (orientation: landscape) {
    .calculator-mainbar {
        margin-right: 10%;
        margin-left: 10%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
    }
}


.calculator-bars {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.calculator-bar {
    margin: 3px;
    width: 200px;
    background-color: #f47a1a;
    text-align: center;
}

.div-img {
    text-align: center;
    height: 200px;
}


.calculator-img {
    height: 100%;
}

.calculator-table th {
    border: 1px solid #ccc;
    padding: 5px;
}

.calculator-table td {
    border: 1px solid #ccc;
    padding: 5px;
}

.calculator-table tbody tr:nth-child(odd) {
    background-color: #eeefef;
}

.calculator-table tbody tr:nth-child(even) {
    background-color: #ffffff;
}

.calculator-table tbody tr:hover td {
    background: #f47a1a;
}

.ttbut {
    background: #F4A460;
    width: 170px;
    height: 30px;
    margin: 5px;
}
