#owner {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    font-weight: bold;
}

.inputForClose {
    width: 70%;
}

.divForClose {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .divForClose > button {
        padding: 7.5px;
    }

.quizModal {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

    .quizModal > input {
        width: 35%;
        height: 40px;
        border: 1px solid #bfbfbf;
        padding: 5px;
    }