.userrequest-icon {
    background-image: url("../img/md/dark/notifications-on.svg")!important;
}

.ttVideo-icon {
    background-image: url("../img/md/dark/video.png") !important;
}

.salary-icon {
    background-image: url("../../../svg/panels/salary.png")
}