.perosnalityFactoryAdd-wrapper {
    background: white;
    width: 100%;
    padding: 30px;
    height: fit-content;
    border: 1px solid #CCC;
    border-radius: 2px;
}

.photo-wrapper {
    border: 1px solid #CCC;
    border-radius: 2px;
    width: 75%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #f7f7f7;
    flex-direction: column;
    max-width: 322px;
    max-height: 322px;
}

.perosnalityFactoryAdd-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    gap: 30px;
}

.perosnalityFactoryAdd-form > div {
    height: 100%;
    gap: 3px;
}

.stage1-wrapper, .stage2-wrapper {
    width: 35%;
    display: flex;
    flex-direction: column;
}

.stage1-wrapper > label, .stage2-wrapper > label {
    margin-bottom: 2px;
    padding-left: 0
}

    .stage1-wrapper input, .stage2-wrapper input {
        height: 38px;
        width: 100%;
    }

.stage1-wrapper select, .stage2-wrapper select {
    height: 38px;
}

.stage1-wrapper > .form-group, .stage2-wrapper > .form-group {
     margin-bottom: 0px;
}

.stage2-wrapper {
    padding-left: 0px;
}

.lastStage-wrapper {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.perosnalityFactoryAdd-form > .lastStage-wrapper {
    height: -webkit-fill-available;
}

.photo-buttonAdd {
    background-color: white;
    border: 1px solid #CCC;
    font-family: 'Akrobat-regular';
    font-size: 16px;
    padding: 5px 20px;
    border-radius: 2px;
    transition: all 0.15s linear;
}

.photo-buttonAdd:hover {
    background-color: #e8e8e8;
    border-color: #a8a8a8;
}

.personalityFactory-smallFieldsWrapper {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.fullwidthFactoryField {
    width: 100%;
}

.btn-addPersonFactory {
    font-family: 'Akrobat-Regular';
    font-size: 12px;
}

.buttonsForCameraWrapper {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 10px;
}

.buttonsForCameraWrapper label {
    margin: 0;
    padding: 0;
}

#videoPlayerFactory {
    width: -webkit-fill-available;
    max-width: 320px;
    max-height: 320px;
}

.imgForPhotoWrapper {
    width: -webkit-fill-available;
    max-width: 430px;
}

.lastStage-secondWrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

@media screen and (max-width: 1457px) {
    .perosnalityFactoryAdd-wrapper label {
        font-size: 12px;
    }

    .photo-buttonAdd {
        font-size: 14px;
        height: 34px;
    }
}

@media screen and (max-width: 1403px) {
    .perosnalityFactoryAdd-wrapper label {
        font-size: 10px;
    }
}

@media screen and (max-width: 1237px) {

    .photo-wrapper {
        width: 220px;
    }

    .lastStage-wrapper {
        width: 20%;
    }

    .photo-buttonAdd {
        font-size: 11px;
        white-space: nowrap;
    }

    .stage2-wrapper {
        width: 40%;
    }

    .lastStage-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px 0px;
    }
}

@media screen and (max-width: 1140px) {

    .perosnalityFactoryAdd-form {
        flex-direction: column;
    }

    .stage1-wrapper, .stage2-wrapper, .lastStage-wrapper {
        width: 100%;
    }

    .photo-wrapper {
        height: fit-content;
        width: 100%;
    }

}

@media screen and (max-width: 404px) {
    .fullwidthFactoryField > input[type="date"] {
        width: 140px;
    }

    .fullwidthFactoryField {
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    #bankFactory, #entryDateFactory, #exitDateFactory {
        margin-bottom: 15px;
    }

    .perosnalityFactoryAdd-wrapper label, .perosnalityFactoryAdd-wrapper div {
        width: 100%;
    }

    .perosnalityFactoryAdd-wrapper label {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0;
        padding: 0;
    }

    .perosnalityFactoryAdd-form {
        gap: 10px;
    }

    .form-group label {
        margin-bottom: -5px;
    }
}
