.headerTracking {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.headerTracking__date {
    display: flex;
    flex-direction: row;
}

.headerTrackingItem {
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.calendarTracking {
    border: 1px solid #BFBFBF;
    border-radius: 2px;
    height: 35px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 2px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}

.selectTracking {
    border: 1px solid #BFBFBF;
    border-radius: 2px;
    height: 34px;
    margin-left: 10px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    width: 5vw;
    text-align: center;
}

.pTracking {
    width: 20px;
    margin: 0;
}

#tdcell {
    width: 60vw !important;
}

.getJobTitleData {
    transition: background-color linear 0.2s;
    cursor: pointer;
}

.active1 {
    background-color: #f5e5dc;
}



.getAllPersons {
    font-size: 13px;
    font-weight: bold;
}

.newRowAlign {
    vertical-align: middle !important;
    font-weight: 400;
    font-size: 13px;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 230px;
}

.md-deleteWithMessage {
    background-image: url(../img/md/dark/email.svg) !important;
}

@media screen and (max-width: 488px) and (orientation: portrait) {
    .newRowAlign {
        white-space: wrap;
    }
}

    .newRowAlign > input {
        border: 1px solid #00000042;
        margin-bottom: 2px;
        border-radius: 2px;
        padding: 0px 4px;
        text-align: center;
        margin-right: 2px;
    }

#selectJobTitle {
    border: 1px solid #00000042;
    border-radius: 2px;
}

.table3 {
    max-height: 70vh;
}

.scrollTable {
    height: 70vh;
    overflow-y: scroll;
}

.allPerson {
    margin-top: 5vh;
    border: 1px solid #dddddd;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #dddddd6e;
    box-shadow: inset 0px 0px 10px 5px #dddddd6e;
    transition: background-color 0.2s linear;
    transition: color 0.2s linear;
    cursor: pointer;
}

.sortPersonInput::placeholder {
    font-style: italic;
}

.active2 {
    background-color: #F4812E !important;
    margin-bottom: 10px;
    color: white;
    box-shadow: none;
}

.table-for-an {
    transition: display 0.2s linear;
}

#selectJobTitle {
    height: 40px;
    width: 170px;
}

.allPersonsDiv, .allPersonsTable, .getAllPersons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    margin-bottom: 10px !important;
}

.allPersonsTable {
    width: 100%;
}

    .allPersonsTable > tbody {
        width: 100%;
    }

.sortInput {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

.sortPersonInput {
    width: 100%;
    border: 1px solid #cccccc;
    border-radius: 2px;
    height: 35px;
}

.sortInput > td {
    width: 100%;
}


/* РњРѕР±РёР»СЊРЅР°СЏ РІРµСЂСЃРёСЏ */


/* РЎС‚СЂР°РЅРёС†Р° СЃ РІС‹Р±РѕСЂРѕРј С‚РѕС‡РєРё */
@media screen and (max-width: 488px) and (orientation: portrait) {
    .headerTracking {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .headerTrackingItem {
        margin: 0;
        position: relative;
    }

    .headerTracking__date {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 10px 0px;
    }

    .calendarTracking {
        width: 35vw;
        text-align: center;
    }

    .row-group-03 {
        font-size: 10px;
    }
}

/* РЎС‚СЂР°РЅРёС†Р° СЃ РІС‹Р±РѕСЂРѕРј */

@media screen and (max-width: 488px) and (orientation: portrait) {
    .allPersonsDiv {
        margin-bottom: 10px;
        width: 92vw;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .getAllPersons {
        margin: 0;
    }

    .allPersonsTable {
        width: 92vw;
    }

    .sortPersonInput {
        width: 91vw;
    }

    div.allPersonsDiv > table > tbody > tr:nth-child(2) > td > input {
        margin-top: 2px;
        text-align: center;
        border-radius: 2px;
    }

    div.col-4.panel.panel-default.height > table > tbody > tr {
        width: 12px;
    }

    #selectJobTitle {
        width: 100px;
    }
}


.trackingData_buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

    .trackingData_buttons > button {
        height: 32px;
    }

.btn-gray {
    background-color: #cacaca;
    border-color: #BFBFBF;
}

.newRowAlign {
    text-align: center;
}

.custom-select {
    width: 35px;
    height: 35px;
    position: relative;
    cursor: pointer;
}

.selected-option {
    padding: 5px;
    /* border: 1px solid #ccc; */
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.options-list {
    display: none;
    position: absolute;
    width: 200px; /* Расширяем для отображения текста при открытии */
    border: 1px solid #ccc;
    background-color: #fff;
    z-index: 10;
    top: 100%; /* Чтобы выпадающий список был ниже селекта */
    right: -22px;
    top: 46px;
}

.options-list li {
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.options-list li img {
    margin-right: 10px;
}

.options-list li:hover {
    background-color: #f0f0f0;
}

.custom-select ul {
    padding: 0px;
}

.custom-select.active .options-list {
    display: block;
}

.selected-option:hover {
    background-color: #dcdcdc70;
}

/* Убираем текст для свернутого состояния */
.selected-option img {
    width: 20px;
    height: 20px;
}

#hours {
    font-weight: 600;
    font-family: 'Akrobat-Regular';
    font-size: 16px;
}



@media print {
    #trackingChart {
        zoom: 0.77;
    }

    body {
        margin: 0;
        padding: 0;
        overflow-x: visible !important;
        overflow-y: visible !important;
    }

    table {
        width: 100% !important;
        border-collapse: collapse;
    }

    #trackingChart_wrapper {
        transform: scale(0.9);
        padding: 10px;
    }

    #global {
        padding: 0;
        height: 100%;
    }

    #cm-menu {
        display: none;
    }

    #cm-header {
        display: none;
    }

    #cm-footer {
        display: none;
    }

    #headMenu {
        display: none;
    }

    #container-fluid {
        margin: 0;
        padding: 0;
    }

    @page {
        margin: 1mm;
    }
}

.namePersons {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 230px;
}

.trackingModalCloseButton {
    font-family: 'Akrobat-Regular';
    font-size: 14px;
    font-weight: 600;
    border: 2px solid #ff000050;
    color: #ff000050;
    background: none;
    transition: all 0.2s linear;
    width: 100%;
    height: 34px;
    text-transform: uppercase;
}

.trackingModalSaveButton {
    font-family: 'Akrobat-Regular';
    font-size: 14px;
    font-weight: 600;
    border: none;
    height: 34px;
    color: white;
    background: #2ECC71;
    transition: all 0.2s linear;
    width: 100%;
    text-transform: uppercase;
}

.trackingModalSaveButtonWithDelete {
    font-family: 'Akrobat-Regular';
    font-size: 14px;
    font-weight: 600;
    border: none;
    height: 34px;
    color: white;
    background: #d5cd6a;
    transition: all 0.2s linear;
    width: 100%;
    text-transform: uppercase;
}



.trackingModalCloseButton:hover {
    border: 2px solid red;
    color: red;
}

.trackingModalSaveButton:hover {
    background-color: #25A25A;
}

.trackingModalSaveButtonWithDelete:hover {
    background-color: #b9af32;
}

.trackingModalSpanHeader {
    font-family: 'Akrobat-Regular';
    font-size: 20px;
}

.trackingModalTextArea {
    width: 100%;
    margin-top: 16px;
    height: 80px;
    border: 1px solid #CCC;
    padding: 5px;
    resize: none;
    border-radius: 3px;
}

