<h1>Справочник франчайзи</h1>

<img id="franch_album" src="~/pic/knowledge/franch_album.svg" />


<!-------------------------------------------------------------------------------------------------------->
<!--по загрузке страницы-->
<script>
    $(document).ready(function () {
        $('#loading').hide();
    });
</script>