<img id="start_image" src="~/pic/knowledge/smart.svg" />


<h1>Библиотека Знаний</h1>

<div id="lib_images">
    <div class="imageTooltip" data-title="Все о приготовлении и составе вкусных сндвичей! Здесь доступны инcтрукции, рецепты, технологиxекие карты и фотографии продукции. Просто выбирайте в меню слева, что вас интересует.">
        <a href="javascript:void(0);" onclick="bookmarksLoad('сэнд', 'slashtoreplaceslashtoreplacefs1.shzhleb.ruslashtoreplaceLLWorkslashtoreplaceБиблиотека знанийslashtoreplaceТехнологическое обучениеslashtoreplaceИнструкция по приготовлению СэндвичейslashtoreplaceИнструкция Сэндвич с бужениной.docx', '.docx')"><img class="lib_img_item" src="~/pic/knowledge/sandwitch.svg" /></a>
    </div>
    <div class="imageTooltip" data-title="Этот раздел отфильтрует для вас информацию по работе с продукцией, требующей печного приготовления">
        <a href="javascript:void(0);" onclick="bookmarksLoad('вып', 'slashtoreplaceslashtoreplacefs1.shzhleb.ruslashtoreplaceLLWorkslashtoreplaceБиблиотека знанийslashtoreplaceТехнологическое обучениеslashtoreplaceКруассаны - двухцветныеslashtoreplaceинструкция по выпечке ( сенсорная панель) от 02.03.2020.docx', '.docx')"><img class="lib_img_item" src="~/pic/knowledge/vipechka.svg" /></a>
    </div>
    <div class="imageTooltip" data-title="Яндекс еда, Деливери, собственная службы доставки и другие сервисы, помогающие нам стать доступнее для покупателей">
        <a href="javascript:void(0);" onclick="bookmarksLoad('дост', 'slashtoreplaceslashtoreplacefs1.shzhleb.ruslashtoreplaceLLWorkslashtoreplaceБиблиотека знанийslashtoreplaceДоставкаslashtoreplaceЯндекс.ЕдаslashtoreplaceРабота с личным кабинетом Доставка партнёрами Яндекс.Еды.MOV', '.mov')"><img class="lib_img_item" src="~/pic/knowledge/dostavka.svg" /></a>
    </div>
    <div class="imageTooltip" data-title="Что делать в нестандартных ситуациях? Этот раздел расскажет вам всю необходимую информацию о том, какие действия помогут избежать неприятных инцидентов в пекарне, а также что делать, если все-таки возникла чрезвычайная ситуация">
        <a href="javascript:void(0);" onclick="bookmarksLoad('безоп', 'slashtoreplaceslashtoreplacefs1.shzhleb.ruslashtoreplaceLLWorkslashtoreplaceБиблиотека знанийslashtoreplaceИнструкции и чек-листыslashtoreplaceправила безопасности в пекарне.pdf', '.pdf')"><img class="lib_img_item" src="~/pic/knowledge/security.svg" /></a>
    </div>
    <div class="imageTooltip" data-title="Современные печи это уже сложный электрический агрегат с цифорвым управлением. Прежде чем приступать к взаимодействию с ней, обязательно ознакомьтесь с нашими интрукциями">
        <a href="javascript:void(0);" onclick="bookmarksLoad('печ', 'slashtoreplaceslashtoreplacefs1.shzhleb.ruslashtoreplaceLLWorkslashtoreplaceБиблиотека знанийslashtoreplaceТехнологическое обучениеslashtoreplaceПанели - печекslashtoreplaceИнструкция по печке сенсорной панелью.docx', '.docx')"><img class="lib_img_item" src="~/pic/knowledge/pech.svg" /></a>
    </div>
    <div class="imageTooltip" data-title="Как продавать больше и при этом не обидеть гостя? Здесь собрана самая полезная информация.">
        <a href="javascript:void(0);" onclick="bookmarksLoad('прод', 'slashtoreplaceslashtoreplacefs1.shzhleb.ruslashtoreplaceLLWorkslashtoreplaceБиблиотека знанийslashtoreplaceДополнительные продажи напитковslashtoreplaceПриложение к стандарту. Примеры фраз.docx', '.docx')"><img class="lib_img_item" src="~/pic/knowledge/sales.svg" /></a>
    </div>
    <div class="imageTooltip" data-title="У разморозки продукции есть свои правила. Соблюдайте их, что бы не испортить то, что пытаетесь разморозить">
        <a href="javascript:void(0);" onclick="bookmarksLoad('замор', 'slashtoreplaceslashtoreplacefs1.shzhleb.ruslashtoreplaceLLWorkslashtoreplaceБиблиотека знанийslashtoreplaceТехнологическое обучениеslashtoreplaceПриемка и хранение - заморозкиslashtoreplaceПриёмка и хранение  замороженных изделий.docx', '.docx')"><img class="lib_img_item" src="~/pic/knowledge/freez.svg" /></a>
    </div>
    <div class="imageTooltip" data-title="Да, напитики это отдельная и большая категория работы в пекарне)) Но ничего сверхестественного, наши материалы лаконичны и доступны">
        <a href="javascript:void(0);" onclick="bookmarksLoad('напит', 'slashtoreplaceslashtoreplacefs1.shzhleb.ruslashtoreplaceLLWorkslashtoreplaceБиблиотека знанийslashtoreplaceТехнологическое обучениеslashtoreplaceИнструкция  по работе с горячими согревающими напитками с ягодами.docx', '.docx')"><img class="lib_img_item" src="~/pic/knowledge/drink.svg" /></a>
    </div>
    <div class="imageTooltip" data-title="Все про приготовление кофе и про кофе-машины">
        <a href="javascript:void(0);" onclick="bookmarksLoad('коф', 'slashtoreplaceslashtoreplacefs1.shzhleb.ruslashtoreplaceLLWorkslashtoreplaceБиблиотека знанийslashtoreplaceУчебные материалыslashtoreplaceИнструкция по работе с кофейным аппаратом.docx', '.docx')"><img class="lib_img_item" src="~/pic/knowledge/cofee.svg" /></a>
    </div>
    <div class="imageTooltip" data-title="Нужные и полезные чек листы. Они помогают быстро и эффективно выполнить все задачи, и ничего не забыть">
        <a href="javascript:void(0);" onclick="bookmarksLoad('лист', 'slashtoreplaceslashtoreplacefs1.shzhleb.ruslashtoreplaceLLWorkslashtoreplaceБиблиотека знанийslashtoreplaceИнструкции и чек-листыslashtoreplaceЧек-листыslashtoreplaceЧек-лист смены.xlsx', '.xlsx')"><img class="lib_img_item" src="~/pic/knowledge/check.svg" /></a>
    </div>
</div>

<!-------------------------------------------------------------------------------------------------------->
<!--нажатие на картинку-->
<script>
    function bookmarksLoad(word, file, ext) {
        $('#srch').val(word);
        $('#srch').keyup();
        selectFile(file, ext);
    }
</script>

<!--по загрузке страницы-->
<script>
    $(document).ready(function () {
        $('#loading').hide();
    });
</script>