@model List<Portal.Models.MSSQL.VideoDevices>

<meta charset="UTF-8">

<div id="headMenu" class="row" style="margin:0px">
    <div class="col-12" style="display:inline-block">
        <table class="table-page-menu" style="margin-top: 10px; margin-bottom: 10px">
            <tbody>
                <tr>
                    <td id="back" style="text-align:left; width:100px; cursor:pointer">
                        <img src="/themes/clearmin/img/md/dark/keyboard-backspace.svg" height="38" width="24" style="cursor:pointer">
                        <label style="margin-left:10px; cursor:pointer">назад</label>
                    </td>
                    <td>
                        <h2 id="header" style="margin:0px; margin-left:5px; margin-right:20px; margin-bottom:6px"></h2>
                    </td>
                </tr>
            </tbody>
        </table>

        <div id="tableMenu" class="col-md-12" style="padding:0px">
            <input class="form-control-sm" placeholder="Поиск" id="searchDatatable">
            <button class="btn btn-sm btn-success addTTButton" onclick="addDevice()" style="margin-left:20px">Добавить устройство</button>
        </div>

        <div id="addMenu" class="col-md-12" style="margin-top:10px; padding:0px">
        </div>
    </div>
</div>

<div class="panel panel-default" id="personTable" style="margin-bottom:0px">
    <div class="panel-body">
        <div class="row mb-4 mt-3">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        @try
                        {
                            <table class="data-table nowrap" id="tableDataPerson">
                                <thead>
                                    <tr>
                                        <th>ТТ</th>
                                        <th>IP</th>
                                        <th align="left" style="text-align: left">Статус</th>
                                        <th>Получить скриншот</th>
                                        <th align="center">Удалить</th>
                                    </tr>
                                </thead>
                                <tbody id="tablePerson">
                                    @foreach (var item in Model)
                                    {
                                        <tr id="@item.Guid" class="activeRow">
                                            <td class="">
                                                <p class="list-item-heading">@item.Location.Name</p>
                                            </td>
                                            <td class="">
                                                <p class="list-item-heading check_connection">@item.Ip</p>
                                            </td>
                                            <td class="check_ip" width="10%" valign="middle" style="text-align: center">
                                                <p class="list-item-heading">Соединение...</p>
                                            </td>
                                            <td class="" width="10%">
                                                <p class="list-item-heading" oninvalid="middle"> Пока без скриншотов </p>
                                            </td>
                                            <td class="" width="10%" align="center">
                                                <label class="md-remove-circle-outline ico deleteDeviceIp" onclick="deleteDevice('@item.Guid')" style="margin: 0;"> </label>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        catch
                        {
                            <div></div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* Проверяем соеднинение с устройством *@
<script>
    const check_connection = document.querySelectorAll(".check_connection")
    check_connection.forEach(x => {
        try {
            $.ajax({
                type: "POST",
                url: `/Settings_VideoDevices/TryToConnectDevice?ip=${x.textContent}`,
                dataType: "text",
                success: function (result) {
                    const ok = JSON.parse(result)
                    if (ok.ok) {
                        x.parentNode.parentNode.children[2].innerHTML = `<p class="green_p"></p>`
                    } else {
                        x.parentNode.parentNode.children[2].innerHTML = `<p class="red_p"></p>`
                    }
                },
            });
        } catch {
            openModal('Ошибка', "Не удалось отправить данные на сервер. Попробуйте повторить попытку позже");
        }
    })
</script>



<script>
    $('#PageHeader').text('Видео на ТТ');

    var height = $('#global').height();

    height -= $('#cm-header').height();
    height -= $('#headMenu').height();

    var table = $(".data-table").DataTable({
        "ordering": true,
        "order": [0, 'asc'],
        searching: true,
        bLengthChange: false,
        destroy: true,
        info: false,
        paging: false,
        sDom: '<"row view-filter"<"col-sm-12"<"float-left"l><"float-right"f><"clearfix">>>t<"row view-pager"<"col-sm-12"<"text-center"ip>>>',
        responsive: !0,
        deferRender: !0,
        scrollY: height,
        scrollCollapse: !0
    });

    table.order([0, 'asc']).draw();

    $("#searchDatatable").on("keyup", function (event) {
        table.search($(this).val()).draw();
    });

    $('.view-filter').hide();
</script>

<style>
    .modalVideo {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
        padding-top: 60px;
    }


    .modal-contentVideo {
        background-color: #fefefe;
        margin: 10% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 30%;
        height: 25%;
    }


    .modal-formVideo {
        display: flex;
        flex-direction: column;
    }

    .modal-formVideo > label, .ipInputVideo {
        font-size: 14px;
        padding-left: 0px;
    }

    .modal-formVideo label {
        margin-top: 10px;
    }

    .modal-formVideo input,
    .modal-formVideo select {
        border: 1px solid #aaa;
    }

    .modal-formVideo input,
    .modal-formVideo select,
    .modal-formVideo button {
        font-size: 12px;
        width: 100%;
        height: 30px;
        border-radius: 2px;
    }

    .divForSubmitButton {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .modal-formVideo button {
        margin-top: 20px;
        background-color: #2ECC71;
        color: white;
        border: 1px solid #1E854A;
        width: 100px;
        cursor: pointer;
        text-align: center;
        padding: 0;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: bold;
        font-family: Roboto, Arial, sans-serif;
        border-radius: 2px;
    }

    .modal-formVideo button:hover {
        background-color: #45a049;
    }
</style>

<script>
    function addDevice() {
        $.ajax({
            type: 'GET',
            url: '/Settings_VideoDevices/GetLocationList',
            success: function (result) {
                if (result.length > 0) {
                    const global = document.getElementById('global')
                    global.innerHTML += `
                            <div id="myModalVideo" class="modalVideo">
                                <div class="modal-contentVideo">
                                    <form class="modal-formVideo" id="modalFormVideo">
                                    <label for="addressSelectVideo" class="label-light">Выберите ТТ:</label>
                                    <select id="addressSelectVideo" name="address" required></select>
                                    <label for="ipInputVideo" class="label-light">Укажите IP:</label>
                                    <input type="text" id="ipInputVideo" name="ip" placeholder="Enter IP address" required>
                                    <div class="divForSubmitButton">
                                        <button type="submit">ДОБАВИТЬ</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    `

                    const addressSelect = document.getElementById('addressSelectVideo')
                    result.forEach(x => {
                        addressSelect.innerHTML += `<option value="${x.guid}">${x.name}</option>`          
                    })
                    
                    var modal = document.getElementById("myModalVideo");
                    modal.style.display = "block";
                    window.onclick = function (event) {
                        if (event.target == modal) {
                            modal.remove()
                        }
                    }

                    $('#back').unbind('click');
                    $('#back').click(function () { location.hash = "#settings" });

                    document.getElementById("modalFormVideo").onsubmit = function (event) {
                        event.preventDefault();
                        var address = document.getElementById("addressSelectVideo").value;
                        var ip = document.getElementById("ipInputVideo").value;
                        SpinnerShow();
                        $.ajax({
                            type: 'POST',
                            url: `/Settings_VideoDevices/AddDevice?locationGuid=${address}&ip=${ip}`,
                            success: function (result) {    
                                if (result.ok) {
                                    myModalVideo.remove()
                                    $('#container-fluid').load('/Settings_VideoDevices/DevicesMain', function () { SpinnerHide(); });
                                }
                            },
                            error: function () {
                                myModalVideo.remove()
                                console.log("Ошибка")
                                SpinnerHide()
                            }
                        })

                        modal.style.display = "none";

                    }
                } else {
                    console.log("Not Ok");
                }
            },
            error: function (xhr, status, error) {
                console.log("Error: " + error);
            }
        });
    }

    function deleteDevice(obj) {
        global.innerHTML += `
                    <div id="myModalVideo" class="modalVideo">
                        <div class="modal-contentVideoDelete">
                            <div id="modalDelete" class="modalDelete">
                                <p>Удалить устройство из списка?</p>
                                <div class="">
                                        <button class="buttonForDeleteRed" onClick='yesFn("${obj}")'>Да</button>
                                    <button class="buttonForDeleteGreen" onClick="noFn()">Нет</button>
                                </div>
                            </div>
                        </div>
                    </div>`

        const myModalVideo = document.getElementById('myModalVideo')
        myModalVideo.style.display = "block";
        window.onclick = function (event) {
            if (event.target == myModalVideo) {
                myModalVideo.remove()
            }
            $('#back').unbind('click');
            $('#back').click(function () { location.hash = "#settings" });
        }
    }

    function noFn() {
        myModalVideo.remove()
    }

    function yesFn(guid) {
        SpinnerShow();
        $.ajax({
            type: 'POST',
            url: `/Settings_VideoDevices/DeleteDevice?guid=${guid}`,
            success: function (result) {
                if (result.ok) {
                    myModalVideo.remove()
                    $('#container-fluid').load('/Settings_VideoDevices/DevicesMain', function () { SpinnerHide(); });
                }
            }
        })
    }
</script>

<style>
    #modalDelete {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #modalDelete > p {
            padding: 0px;
            font-family: "Roboto";
        }

    .buttonForDeleteGreen {
        margin-top: 20px;
        background-color: #2ECC71;
        color: white;
        border: 1px solid #1E854A;
        width: 100px;
        cursor: pointer;
        text-align: center;
        padding: 0;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: bold;
        font-family: Roboto, Arial, sans-serif;
        border-radius: 2px;
        height: 30px;
    }

    .buttonForDeleteRed {
        margin-top: 20px;
        color: white;
        background-color: #E74C3C;
        border: 1px solid #E43725;
        width: 100px;
        cursor: pointer;
        text-align: center;
        padding: 0;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: bold;
        font-family: Roboto, Arial, sans-serif;
        border-radius: 2px;
        height: 30px;
    }

    .buttonForDeleteRed:hover {
        background-color: #D62C1A;
    }

    .buttonForDeleteGreen:hover {
        background-color: #25A25A;
    }

    .modal-contentVideoDelete {
        background-color: #fefefe;
        margin: 10% auto;
        padding: 20px;
        width: 30%;
        height: fit-content;
    }
</style>

<script>
    $('#back').unbind('click');
    $('#back').click(function () { location.hash = "#settings" });
</script>
