<!--горизонтальные меню над контентом-->
<div class="cm-flex">
    <div class="nav-tabs-container">
        <ul class="nav nav-tabs">
            <li><a href="" data-toggle="tab" onclick="$('#container-fluid').load('/Settings_VideoDevices/DevicesMain')">Настройка ТВ</a></li>
            <li class="active"><a href="" data-toggle="tab" onclick="$('#container-fluid').load('/Settings_VideoDevices/DevicesMainNew')">Настройка ТВ (NEW)</a></li>
            <li><a href="" data-toggle="tab" onclick="$('#container-fluid').load('/Settings_VideoDevices/VideoList')">Выбор видео</a></li>
        </ul>
    </div>
</div>