<!--горизонтальные меню над контентом-->
<div class="cm-flex">
    <div class="nav-tabs-container">
        <ul class="nav nav-tabs">
            <li class="active"><a href="" data-toggle="tab" onclick="$('#container-fluid').load('/Settings_VKBOT/VKBOT?actual=1')">Купоны</a></li>
            <li><a href="" data-toggle="tab" onclick="$('#container-fluid').load('/Settings_VKBOT/HistoryCoupon')">История выдачи</a></li>
        </ul>
    </div>
</div>