

<div class="row cm-fix-height">
    <div id="content"></div>
</div>


<!--------------------------------------------------------->
<!--загрузка редактора пользователя на страницу-->
<script>
    $('#content').load('/Access/GroupCreate');
</script>

<!--по загрузке страницы-->
<script>
    $(document).ready(function () {
        $('#loading').hide();
    });
</script>
