<!--блок элементов сверху-->
<div class="row" style="margin-top: 0px; margin-bottom:10px">

    <!--Назад-->
    <a href="#" class="col-sm-1 el-marging" style="width:100px; cursor:pointer; color:black">
        <img src="~/themes/clearmin/img/md/dark/keyboard-backspace.svg" height="38" width="24"><label style="margin-left:10px; cursor:pointer">назад</label>
    </a>

</div>

<div class="row">
    
    @if (User.IsInRole("old_calculate"))
    {
        <!--выпечка-->
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <a href="#calc_vipechka" class="panel panel-default thumbnail cm-thumbnail tails-panel">
                <div class="panel-body text-center" style="min-height: 147px;">
                    <span class="svg-48">
                        <img src="~/svg/color_panels/bread.svg" width="20px">
                    </span>
                    <h4>Выпечка(OLD)</h4>
                </div>
            </a>
        </div>

        <!--кондитерка-->
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <a href="#calc_defrost" class="panel panel-default thumbnail cm-thumbnail tails-panel">
                <div class="panel-body text-center" style="min-height: 147px;">
                    <span class="svg-48">
                        <img src="~/svg/color_panels/cake.svg" width="20px">
                    </span>
                    <h4>Кондитерка(OLD)</h4>
                </div>
            </a>
        </div>

        <!--сэндвичи-->
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <a href="#Sandwitches" class="panel panel-default thumbnail cm-thumbnail tails-panel">
                <div class="panel-body text-center" style="min-height: 147px;">
                    <span class="svg-48">
                        <img src="~/svg/color_panels/sandwich.svg" width="20px">
                    </span>
                    <h4>Сэндвичи(OLD)</h4>
                </div>
            </a>
        </div>

    }

    <!--   НОВЫЕ КАЛЬКУЛЯТОРЫ   -->

    <!--хлеб-->

        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <a href="#calc_bread" class="panel panel-default thumbnail cm-thumbnail tails-panel">
                <div class="panel-body text-center" style="min-height: 147px;">
                     <span class="svg-48">
                        <img src="~/svg/color_panels/breads.svg" width="20px">
                    </span>
                    <h4>Хлеб</h4>
                </div>
            </a>
        </div>


    <!--выпечка-->

    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
        <a href="#calc_bakery" class="panel panel-default thumbnail cm-thumbnail tails-panel">
         <div class="panel-body text-center" style="min-height: 147px;">
                <span class="svg-48">
                    <img src="~/svg/color_panels/bread.svg" width="20px">
                </span>
            <h4>Выпечка</h4>
         </div>
        </a>
    </div>

    <!--кондитерские изделия-->

    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
        <a href="#calc_confectionery" class="panel panel-default thumbnail cm-thumbnail tails-panel">
            <div class="panel-body text-center" style="min-height: 147px;">
                <span class="svg-48">
                    <img src="~/svg/color_panels/cake.svg" width="20px">
                </span>
                <h4>Кондитерские изделия</h4>
            </div>
        </a>
    </div>

    <!--сэндвичи-->

    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
        <a href="#Sandwitch" class="panel panel-default thumbnail cm-thumbnail tails-panel">
            <div class="panel-body text-center" style="min-height: 147px;">
                <span class="svg-48">
                    <img src="~/svg/color_panels/sandwich.svg" width="20px">
                </span>
                <h4>Сэндвичи</h4>
            </div>
        </a>
    </div>

    <!-- Прочее -->

    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
        <a href="#OtherCalculate" class="panel panel-default thumbnail cm-thumbnail tails-panel">
            <div class="panel-body text-center" style="min-height: 147px;">
                <span class="svg-48">
                    <img src="~/svg/color_panels/other-food.png" width="20px">
                </span>
                <h4>Прочий ассортимент</h4>
            </div>
        </a>
    </div>
    
</div>




<!---------------------------------------------------------------------------------------------------------------------------->
<!--по загрузке страницы-->
<script>
    $(document).ready(function () {
        $('#loading').hide();
        Alerts();
    });
</script>