<div class="rotateDevice">
    <img src="~/svg/icons/rotating-mobile-phone-from-vertical-to-horizontal-position.svg">
    <p>разверните ваше устройство в горизонтальное положение</p>
</div>


<!--по загрузке страницы-->
<script>
    $(document).ready(function () {
        $('#loading').hide();
        Alerts();
    });
</script>