<!--блок элементов сверху-->
<div class="row" style="margin-top: 0px; margin-bottom:10px">

    <!--Назад-->
    <a href="#" class="col-sm-1 el-marging" style="width:100px; cursor:pointer; color:black">
        <img src="~/themes/clearmin/img/md/dark/keyboard-backspace.svg" height="38" width="24"><label style="margin-left:10px; cursor:pointer">назад</label>
    </a>

</div>

<div class="row">

    
    @if (User.IsInRole("HR") || User.IsInRole("employee_control_ukvh") || User.IsInRole("settings"))
    {
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <a href="#Personality" class="panel panel-default thumbnail cm-thumbnail tails-panel">
                <div class="panel-body text-center" style="min-height: 147px;">
                    <span class="svg-48">
                        <img src="/themes/clearmin/img/sf/users.svg" width="20px">
                    </span>
                    <h4>Учёт пользователей</h4>
                </div>
            </a>
        </div>
    }   
  
    @if (User.IsInRole("employee_control"))
    {
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
        <a href="#TrackingData" class="panel panel-default thumbnail cm-thumbnail tails-panel">
            <div class="panel-body text-center" style="min-height: 147px;">
                <span class="svg-48">
                    <img src="/themes/clearmin/img/sf/calendar.svg" width="20px">
                </span>
                <h4>Учет табеля рабочего времени</h4>
            </div>
        </a>
    </div>
    }

    @if (User.IsInRole("employee_control_factory"))
    {
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <a href="#TimesheetsFactory" class="panel panel-default thumbnail cm-thumbnail tails-panel">
                <div class="panel-body text-center" style="min-height: 147px;">
                    <span class="svg-48">
                        <img src="/themes/clearmin/img/sf/factory.svg" width="20px">
                    </span>
                    <h4>Табель рабочего времени (Завод)</h4>
                </div>
            </a>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <a href="#PersonalityFactory" class="panel panel-default thumbnail cm-thumbnail tails-panel">
                <div class="panel-body text-center" style="min-height: 147px;">
                    <span class="svg-48">
                        <img src="/themes/clearmin/img/rab.png" width="25px">
                    </span>
                    <h4>Учет сотрудников (Завод)</h4>
                </div>
            </a>
        </div>
    }
</div>






<!--по загрузке страницы-->
<script>
    $(document).ready(function () {
        $('#PageHeader').text('Учет сотрудников');
        $('#loading').hide();
        Alerts();
    });
</script>