<!--блок элементов сверху-->
<div class="row" style="margin-top: 0px; margin-bottom:10px">

    <!--Назад-->
    <a href="#" class="col-sm-1 el-marging" style="width:100px; cursor:pointer; color:black">
        <img src="~/themes/clearmin/img/md/dark/keyboard-backspace.svg" height="38" width="24"><label style="margin-left:10px; cursor:pointer">назад</label>
    </a>

</div>

<p class="centrGrayMessage">функционал временно недоступен</p>

<!--по загрузке страницы-->
<script>
    $(document).ready(function () {
        $('#loading').hide();
        Alerts();
    });
</script>