

<div class="Content" id="demo">


</div>

<script>
    yam.connect.embedFeed({
        container: '#demo',
        network: 'lydilove.onmicrosoft.com'  // network permalink (see below)
    });

</script>


<!--по загрузке страницы-->
<script>
    $(document).ready(function () {
        $('#loading').hide();
    });
</script>