@model Portal.ViewModels.Settings_TT.CashClientsView

@{
    // загрузка модальных окошек в представление
    await Html.RenderPartialAsync("ModalWindows"); 

    var isChecked = "";
    if (Model.isAutoUpdate)
        isChecked = "checked";
}


<!--шапка-->
<div id="headMenu" class="row" style="margin:0px">
    <div class="col-12">

        <!--блок заголовка-->
        <table class="table-page-menu" style="margin-top: 10px; margin-bottom: 10px">
            <tbody>
                <tr>
                    <!--назад-->
                    <td id="back" style="text-align:left; width:100px; cursor:pointer">
                        <img src="/themes/clearmin/img/md/dark/keyboard-backspace.svg" height="38" width="24" style="cursor:pointer">
                        <label style="margin-left:10px; cursor:pointer">назад</label>
                    </td>
                    <!--заголовок-->
                    <td>
                        <h2 id="header" style="margin:0px; margin-left:5px; margin-right:20px; margin-bottom:6px"></h2>
                    </td>
                    <!--обновить-->
                    <td style="">
                        <img src="/themes/clearmin/img/md/dark/autorenew.svg" height="38" width="30" onclick="DataTable()" style="cursor:pointer">
                    </td>
                </tr>
            </tbody>
        </table>

        <!--меню таблицы-->
        <div id="tableMenu" class="col-md-12" style="padding:0px">
            <input class="form-control-sm" placeholder="Поиск" id="searchDatatable">
            
            <select id="updateAllSelector" class="form-control-sm" style="min-width:70px; height:28px; margin-left:20px">
                @foreach(var ver in Model.Versions.OrderByDescending(v => v.Version))
                {
                    if (ver.isActual)
                    {
                        <option selected>@ver.Version</option>
                    }
                    else
                    {
                        <option>@ver.Version</option>
                    }                                                                                                                
                }                                           
            </select>
            
            <button class="btn btn-sm btn-gray" onclick="DownloadDistr()">скачать</button>
            <button class="btn btn-sm btn-success" onclick="UploadVersion()">добавить версию</button>

            <div class="checkbox check-01" style="margin-left:20px; display:inline">
                <label>
                    <input id="AutoUpdateCheck" type="checkbox" @isChecked>
                    <p>обновлять автоматически</p>
                </label>                
            </div>

            <button class="btn btn-sm btn-danger" onclick="UpdateAll()" style="margin-left:20px; display:inline">обновить все</button>
            
        </div>

        <!--меню редактора-->
        <div id="editMenu" class="col-md-12" style="margin-top:10px; padding:0px">
            <a href="#DeleteTT" class="btn btn-sm btn-danger" onclick="DeleteItem()">удалить</a>
        </div>

        <!--меню добавления -->
        <div id="addMenu" class="col-md-12" style="margin-top:10px; padding:0px">

        </div>

    </div>
</div>


<!--Окно: создание новой версии-->
<div id="addVersionModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">

            <!--заголовок-->
            <div class="modal-header">
                <div class="pull-right" style="margin-right:10px; height:10px"><label class="ico md-close" style="margin-top: -2px" data-dismiss="modal"></label></div>
                <h4 class="modal-title" id="myModalLabel">
                    добавить новую версию
                    <a class="anchorjs-link" href="#myModalLabel"><span class="anchorjs-icon"></span></a>
                </h4>
            </div>

            <!--содержимое-->
            <div class="modal-body">
                @using (Html.BeginForm("UploadNewVersion", "Settings_TT", FormMethod.Post, new { enctype = "multipart/form-data", id = "versionForm"}))
                {
                    <!--Версия-->
                        <br />
                        <label for="versionName" class="col-sm-4 control-label">версия</label>
                        <div class="input-group col-sm-5">
                            <input type="text" class="form-control" id="versionName" required="required" name="version">
                        </div>

                    <!--Zip архив-->
                    <label for="zipForm" class="col-sm-4 control-label">zip архив</label>
                    <div class="input-group col-sm-5">
                        <input id="openFile" class="hidden" type="file" accept=".zip" onchange="pathChange()" name="file"/>
                        <input class="form-control" id="zipForm" disabled="disabled" required="required">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" onclick="openWinDialog()"><i class="fa fa-fw fa-upload"></i></button>
                        </span>
                    </div>

                    <!--Актуальность-->
                    <label id="switchLabel" class="col-sm-4 control-label">актуальная версия</label>
                    <div class="material-switch input-group col-sm-6" style="margin-top:7px">
                        <input class="slider" id="actual" type="checkbox" checked="checked" name="actual">
                        <label for="actual" class="label-warning"></label>
                    </div>

                    <!--ожидание загрузки-->
                    <div class="input-group col-sm-12 hidden" id="cashLoading">
                        <p class="color-red" style="text-align:center; font-weight:bold; margin-top:10px">подключение к кассе...</p>
                    </div>
                }
            </div>
            
            <!--кнопки-->
            <div class="modal-footer">
                <button id="saveCash" type="button" class="btn btn-sm btn-success" onclick="SaveVersion()">добавить</button>
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">отмена</button>
            </div>

        </div>
    </div>
</div>

<div id="page" style="margin-top:15px"></div>


<!------------------------------------------------------------------------------------------------------------------->
<!--загрузка таблицы-->
<script>
    function DataTable() {
        //location.hash = "#SettingsTTs";
        $('#header').text('Кассовые клиенты');

        $('#back').unbind('click');
        $('#back').click(function () { location.hash = "#settings" });

        $('#tableMenu').show();
        $('#editMenu').hide();
        $('#addMenu').hide();

        $('#page').empty();
        SpinnerShow();
        $('#page').load('/Settings_TT/ClientsTable', function () { SpinnerHide(); });
    }
    DataTable();
</script>

<!--загрузка формы добавления-->
<script>
    function AddItem() {
        location.hash = "#AddTT";
        $('#header').text('Добавление торговой точки');

        $('#back').unbind('click');
        $('#back').click(function () { DataTable(); });

        $('#tableMenu').hide();
        $('#editMenu').hide();
        $('#addMenu').show();

        $('#page').empty();
        SpinnerShow();
        $('#page').load('/Settings_TT/TTEdit?ttId=0', function () { SpinnerHide() });
    }
</script>

<!--загрузка редактора-->
<script>
    function EditItem(itemName, itemId) {
        location.hash = "#AccessEditor";
        $('#header').text(itemName);

        $('#back').unbind('click');
        $('#back').click(function () { DataTable(); });

        $('#tableMenu').hide();
        $('#editMenu').show();
        $('#addMenu').hide();

        $('#page').empty();
        SpinnerShow();
        $('#page').load('/Settings_TT/TTEdit?ttId=' + itemId, SpinnerHide());
    }
</script>

<!--чекбокс автообновления-->
<script>
    $('#AutoUpdateCheck').on('change', function(){
        var isEnabled = $(this).is(':checked');
        $.get('/Settings_TT/CashClientsAutoUpdate?isEnabled=' + isEnabled, function(result){ 
            if(!result.ok)
            {
                ShowModal('Обновление кассовых клиентов', result.errorMessage);
            }
            else
            {
                ShowModal('Обновление кассовых клиентов', result.data);
            }
        });
    });
</script>

<!--кнопка скачать дистрибутив-->
<script>
    function DownloadDistr(){
        let sel = document.getElementById('updateAllSelector');
        let version = sel.options[sel.selectedIndex].value;
        let url = '/Settings_TT/DownloadDistr?version=' + version;
         $.ajax({
            type: "GET",
            url: url,
            success:(function(){
                window.location = url
            }),
            error: (function () {
                alert("Версия " + version + " отсутствует в БД");
            })
        });
    }
</script>

<!--кнопка добавить версию-->
<script>
    function UploadVersion() {
        let sel = document.getElementById('updateAllSelector');
        let version = sel.options[sel.selectedIndex].value;
        document.getElementById('versionName').value = version;
         $('#addVersionModal').modal("show");
    }

    function openWinDialog() {
        let openFile = document.getElementById('openFile');
        openFile.value = '';
        document.getElementById('zipForm').value = '';
        openFile.click();
    }

    
    function pathChange() {
        let path = document.getElementById('openFile');
        document.getElementById('zipForm').value = path.files[0].name;
    }

    function SaveVersion() {
       let form = document.getElementById('versionForm');
        /* form.submit();*/
      let data = new FormData(form);
       $.ajax({
           type: "POST",
           enctype:'multipart/form-data',
            url: "/Settings_TT/UploadNewVersion",
            data:data,
            processData:false,
            contentType: false,
            chache: false,
            timeout: 10000,
            success: function(result){
                if (result.ok) {
                    $('#addVersionModal').modal('hide');
                    loadUrl('/Settings_TT/CashClients');
                }
                else {
                    ShowModal("Ошибка", result.data);
                }
            },
            error: function (error) {
                ShowModal("Ошибка", error.responseText);
            }
         });
    }
</script>
