<!--горизонтальные меню над контентом-->
<div class="cm-flex">
    <div class="nav-tabs-container">
        <ul class="nav nav-tabs">
            <li class="active"><a href="" data-toggle="tab" onclick="loadUrl('/Settings_TT/TTs')">торговые точки</a></li>
            <li><a href="" data-toggle="tab" onclick="loadUrl('/Settings_TT/Organizations')">организации</a></li>
            <li><a href="" data-toggle="tab" onclick="loadUrl('/Settings_TT/Types')">типы</a></li>
            <li><a href="" data-toggle="tab" onclick="loadUrl('/Settings_TT/CashClients')">кассовые клиенты</a></li>
        </ul>
    </div>
</div>