<!--шапка-->
<div id="headMenu" class="row" style="margin:0px">
    <div class="col-12" style="display:inline-block">
        <!--блок заголовка-->
        <table class="table-page-menu" style="margin-top: 10px; margin-bottom: 10px">
            <tbody>
                <tr>
                    <!--назад-->
                    <td id="back" style="text-align:left; width:100px; cursor:pointer">
                        <img src="/themes/clearmin/img/md/dark/keyboard-backspace.svg" height="38" width="24" style="cursor:pointer">
                        <label style="margin-left:10px; cursor:pointer">назад</label>
                    </td>
                    <!--заголовок-->
                    <td>
                        <h2 id="header" style="margin:0px; margin-left:5px; margin-right:20px; margin-bottom:6px"></h2>
                    </td>
                </tr>
            </tbody>
        </table>

        <!--меню таблицы-->
        <div id="tableMenu" class="col-md-12" style="padding:0px">
            <input class="form-control-sm" placeholder="Поиск" id="searchDatatable">
            <a href="#AddTT" class="btn btn-sm btn-success addTTButton" onclick="AddItem()" style="margin-left:20px">добавить</a>
        </div>

        <!--меню добавления -->
        <div id="addMenu" class="col-md-12" style="margin-top:10px; padding:0px">
        </div>        
    </div>
    <!--Отображать закрытые точки -->
    <div style="float:right; display:inline-block" class="hiddenForEditTT">
        <div class="pull-right" style="padding-bottom:10px; padding-top:10px; width:100%">
            <label id="closedTTSwitch" style="margin-right:15px">Отображать закрытые точки</label>
            <div class="material-switch pull-right">
                <input class="slider" id="closedTT" type="checkbox" onchange="loadTTTable()">
                <label for="closedTT" class="label-warning"></label>
            </div>
        </div>
        <!--Отображать УЦ-->
        <div class="pull-right" style="padding-bottom:10px; width:100%">
            <label id="ecTTSwitch" style="margin-right:15px">Отображать УЦ</label>
            <div class="material-switch pull-right">
                <input class="slider" id="ecTT" type="checkbox" onchange="loadTTTable()" checked="checked">
                <label for="ecTT" class="label-warning"></label>
            </div>
        </div>
    </div>
</div>

<div id="page" style="margin-top:15px"></div>

<!------------------------------------------------------------------------------------------------------------------->
<!--загрузка таблицы-->
<script>
    function loadTTTable() {
        $('#header').text('Торговые точки');
        $('.addTTButton').text("Добавить")
        let closedTT = document.getElementById('closedTT').checked;
        let ecTT = document.getElementById('ecTT').checked;
        SpinnerShow();
        $('#page').load('/Settings_TT/TTsTable?closedTT=' + closedTT + '&ecTT=' + ecTT, function () { SpinnerHide(); });
    }

    function loadTTTableVersion(locGuid, TTName) {
        //location.hash = "#SettingsVersionTTs";
        $('.addTTButton').text("Добавить версию")
        $('#header').text(TTName);
        $('#back').unbind('click');
        $('#back').click(function () { loadTTTable() });
        SpinnerShow();
        $('#page').load('/Settings_TT/TTsTableVersion?locGuid=' + locGuid, function () { SpinnerHide(); });
    }
</script>

<!--загрузка окна-->
<script>
    function DataTable() {
        var divForButtonLocVer = document.getElementById('divForButtonLocVer')
        if (divForButtonLocVer)
        {
            divForButtonLocVer.remove()
        }
        
        //location.hash = "#SettingsTTs";
        $('#header').text('Торговые точки');

        $('#back').unbind('click');
        $('#back').click(function () { location.hash = "#settings" });

        $('#tableMenu').show();
        $('#editMenu').hide();
        $('#addMenu').hide();
        $('#page').empty();        
        loadTTTable();
    }
    DataTable();
</script>



<!--загрузка формы добавления-->
<script>
    $('.addTTButton').attr("onClick", "AddItem()");

    function AddItem(ttGuid, original = "1") {
        ttGuid == 'undefined' ? ttGuid = 0 : ttGuid;
        location.hash = "#AddTT";
        $('#header').text('Добавление торговой точки');

        $('#back').unbind('click');
        $('#back').click(function () {
            DataTable();
        });

        $('#tableMenu').hide();
        $('#editMenu').hide();
        $('#addMenu').show();

        $('#page').empty();
        SpinnerShow();
        $('#page').load('/Settings_TT/TTEdit?ttGuid=' + ttGuid + '&original=' + original, function () { SpinnerHide() });
    }
</script>

<!--загрузка редактора-->
<script>
    function EditItem(itemName, itemGuid, original = 1) {
        location.hash = "#AccessEditor";
        $('#header').text(itemName);

        $('#back').unbind('click');
        $('#back').click(function () { DataTable(); });

        $('#tableMenu').hide();
        $('#editMenu').show();
        $('#addMenu').hide();

        $('#page').empty();
        SpinnerShow();
        $('#page').load(`/Settings_TT/TTEdit?ttGuid=${itemGuid}&original=${original}`, SpinnerHide());
    }
</script>
