<!--шапка-->
<div id="headMenu" class="row" style="margin:0px">
    <div class="col-12">

        <!--блок заголовка-->
        <table class="table-page-menu" style="margin-top: 10px; margin-bottom: 10px">
            <tbody>
                <tr>
                    <!--назад-->
                    <td id="back" style="text-align:left; width:100px; cursor:pointer">
                        <img src="/themes/clearmin/img/md/dark/keyboard-backspace.svg" height="38" width="24" style="cursor:pointer">
                        <label style="margin-left:10px; cursor:pointer">назад</label>
                    </td>
                    <!--заголовок-->
                    <td>
                        <h2 id="header" style="margin:0px; margin-left:5px; margin-right:20px; margin-bottom:6px"></h2>
                    </td>
                </tr>
            </tbody>
        </table>

        <!--меню таблицы-->
        <div id="tableMenu" class="col-md-12" style="padding:0px">
            <input class="form-control-sm" placeholder="Поиск" id="searchDatatable">
            <a href="#AddTT" class="btn btn-sm btn-success" onclick="AddItem()" style="margin-left:20px">добавить</a>
        </div>

        <!--меню редактора-->
        <div id="editMenu" class="col-md-12" style="margin-top:10px; padding:0px">
            <a href="#DeleteTT" class="btn btn-sm btn-danger" onclick="DeleteItem()">удалить</a>
        </div>

        <!--меню добавления -->
        <div id="addMenu" class="col-md-12" style="margin-top:10px; padding:0px">

        </div>

    </div>
</div>

<div id="page" style="margin-top:15px"></div>


<!------------------------------------------------------------------------------------------------------------------->
<!--загрузка таблицы-->
<script>
    function DataTable() {
        //location.hash = "#SettingsTTs";
        $('#header').text('Типы');

        $('#back').unbind('click');
        $('#back').click(function () { location.hash = "#settings" });

        $('#tableMenu').show();
        $('#editMenu').hide();
        $('#addMenu').hide();

        $('#page').empty();
        SpinnerShow();
        $('#page').load('/Settings_TT/TypesTable', function () { SpinnerHide(); });
    }
    DataTable();
</script>

<!--загрузка формы добавления-->
<script>
    function AddItem() {
        location.hash = "#AddType";
        $('#header').text('Добавление типа');

        $('#back').unbind('click');
        $('#back').click(function () { DataTable(); });

        $('#tableMenu').hide();
        $('#editMenu').hide();
        $('#addMenu').show();

        $('#page').empty();
        SpinnerShow();
        $('#page').load('/Settings_TT/TypeEdit?ttId=0', function () { SpinnerHide() });
    }
</script>

<!--загрузка редактора-->
<script>
    function EditItem(itemName, itemId) {
        location.hash = "#TypeEditor";
        $('#header').text(itemName);

        $('#back').unbind('click');
        $('#back').click(function () { DataTable(); });

        $('#tableMenu').hide();
        $('#editMenu').show();
        $('#addMenu').hide();

        $('#page').empty();
        SpinnerShow();
        $('#page').load('/Settings_TT/TypeEdit?Id=' + itemId, SpinnerHide());
    }
</script>