@model dynamic

<div id="headMenu" class="row" style="margin:0px;width:100%;">
    <div class="col-12" style="display:inline-block;width: 100%;">
        <table class="table-page-menu" style="margin-top: 10px; margin-bottom: 10px">
            <tbody>
                <tr>
                    <td id="back" style="text-align:left; width:100px; cursor:pointer">
                        <img src="/themes/clearmin/img/md/dark/keyboard-backspace.svg" height="38" width="24" style="cursor:pointer">
                        <label style="margin-left:10px; cursor:pointer">назад</label>
                    </td>
                    <td>
                        <h2 id="header" style="margin:0px; margin-left:5px; margin-right:20px; margin-bottom:6px"></h2>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="tableMenu" id="tableMenu" style="width:100%;">
            <div class="col-md-12" style="padding:0px">
                <input class="form-control-sm" placeholder="Поиск" id="searchDatatable">
                <a href="#AddTT" class="btn btn-sm btn-success addTTButton" onclick="addPersonFactory()" style="margin-left:20px">добавить</a>
            </div>

            <div class="userActive" style="padding-right: 20px;">
                <span class="textForCheckbox">Только активные сотрудники</span>
                <label class="switch">
                    <input type="checkbox" class="switch__input" id="activeFactoryPersonality" onchange="loadPersonalityFactoryTable()" @(ViewBag.ActiveOnly == 1 ? "checked" : null)>
                    <span class="switch__slider"></span>
                </label>
            </div>
        </div>

        <div id="addMenu" class="col-md-12" style="margin-top:10px; padding:0px"></div>
    </div>
</div>

<div class="panel panel-default" style="margin-bottom:0px">
    <div class="panel-body">
        <div class="row mb-4 mt-3">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <table class="data-table nowrap tablePersonalityFactory">
                            <thead>
                                <tr>
                                    <th>Фамилия</th>
                                    <th>Имя</th>
                                    <th>Отчество</th>
                                    <th>Дата рождения</th>
                                    <th class="hidden">Паспорт</th>
                                    <th>Отдел</th>
                                    <th>Участок</th>
                                    <th>Должность</th>
                                    <th>Гражданство</th>
                                    <th class="hidden">Тип документа</th>
                                    <th class="hidden">Номер телефона</th>
                                    <th class="hidden">Дата въезда</th>
                                    <th class="hidden">Дата выезда</th>
                                    <th class="hidden">Дата приема на работу</th>
                                    <th class="hidden">Дата увольнения</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="paginationContainer"></div>

<style>
    .factory-person-row--missing-passcard td {
        background-color: #fff7d6 !important;
    }
 </style>

<script>
    var height = $('#global').height();
    height -= $('#cm-header').height();
    height -= $('#headMenu').height();
</script>

<script>
    const factoryTablePageStorageKey = 'personalityFactoryTablePage';
    const savedFactoryTablePage = parseInt(sessionStorage.getItem(factoryTablePageStorageKey), 10);

    var table = $(".data-table").DataTable({
        processing: true,
        serverSide: true,
        ordering: true,
        paging: true,
        pageLength: 17,
        order: [0, 'asc'],
        searching: true,
        bLengthChange: false,
        destroy: true,
        info: false,
        autoWidth: false,
        sDom: '<"row view-filter"<"col-sm-12"<"float-left"l><"float-right"f><"clearfix">>>t<"row view-pager"<"col-sm-12"<"text-center"ip>>>',
        responsive: false,
        deferRender: true,
        scrollY: height,
        scrollCollapse: true,
        ajax: {
            url: '/PersonalityFactory/PersonalityFactoryTableData?activeOnly=@ViewBag.ActiveOnly',
            type: 'POST'
        },
        createdRow: function (row, data) {
            if (!data || !data.passCardNumber || !data.passCardNumber.toString().trim()) {
                row.classList.add('factory-person-row--missing-passcard');
            }
        },
        columns: [
            { data: 'surname', className: 'tdPersonTable' },
            { data: 'name', className: 'tdPersonTable' },
            { data: 'patronymic', className: 'tdPersonTable' },
            { data: 'birthdate', className: 'tdPersonTable' },
            { data: 'passport', className: 'tdPersonTable hidden' },
            { data: 'departmentName', className: 'tdPersonTable' },
            { data: 'workshopName', className: 'tdPersonTable' },
            { data: 'jobTitleName', className: 'tdPersonTable' },
            { data: 'citizenshipName', className: 'tdPersonTable' },
            { data: 'documentTypeName', className: 'tdPersonTable hidden' },
            { data: 'phone', className: 'tdPersonTable hidden' },
            { data: 'hostelChekin', className: 'tdPersonTable hidden' },
            { data: 'hostelCheckOut', className: 'tdPersonTable hidden' },
            { data: 'hiringDate', className: 'tdPersonTable hidden' },
            { data: 'dismissedDate', className: 'tdPersonTable hidden' }
        ],
        language: {
            paginate: {
                first: '«',
                previous: '‹',
                next: '›',
                last: '»'
            }
        }
    });

    if (!isNaN(savedFactoryTablePage) && savedFactoryTablePage >= 0) {
        table.one('draw', function () {
            const pageInfo = table.page.info();
            const maxPage = Math.max(pageInfo.pages - 1, 0);
            const targetPage = Math.min(savedFactoryTablePage, maxPage);

            table.page(targetPage).draw('page');
            sessionStorage.removeItem(factoryTablePageStorageKey);
        });
    }

    table.on('page.dt', function () {
        sessionStorage.setItem(factoryTablePageStorageKey, table.page.info().page);
    });

    var paginate = $(table.table().container()).find('.dataTables_paginate').detach();
    $('#paginationContainer').append(paginate);

    $("#searchDatatable").off("keyup").on("keyup", function () {
        table.search($(this).val()).draw();
    });

    $('.tablePersonalityFactory tbody').off('click', 'tr');
    $('.tablePersonalityFactory tbody').on('click', 'tr', function () {
        const rowData = table.row(this).data();
        if (!rowData || !rowData.id) {
            return;
        }

        PersonalityFactoryEdit(rowData.id);
    });

    $('.view-filter').hide();

    $("#PageHeader").text("Учет сотрудников (Завод)");
    $('#back').unbind('click');
    $('#back').click(function () { location.hash = "#staff" });

    function loadPersonalityFactoryTable() {
        const activeOnly = document.getElementById('activeFactoryPersonality').checked ? 1 : 0;
        SpinnerShow();
        $('#container-fluid').load(`/PersonalityFactory/PersonalityFactoryTable?activeOnly=${activeOnly}`, function () {
            SpinnerHide();
        });
    }

    function addPersonFactory() {
        $('#container-fluid').load(`/PersonalityFactory/PersonalityFactoryAdd`, function () {
            SpinnerHide();
        });
    }

    function PersonalityFactoryEdit(personGuid) {
        sessionStorage.setItem(factoryTablePageStorageKey, table.page.info().page);
        SpinnerShow();
        $('#container-fluid').load(`/PersonalityFactory/PersonalityFactoryEdit?id=${personGuid}`, function () {
            SpinnerHide();
        });
    }
</script>
