<!--шапка-->
<div id="headMenu" class="row" style="margin:0px">
    <div class="col-12">

        <div class="row" style="margin-top: 0px; margin-bottom:10px">
            <!--Назад-->
            <a id="back" href="#calculators" class="col-sm-1 el-marging" style="width:100px; cursor:pointer; color:black">
                <img src="~/themes/clearmin/img/md/dark/keyboard-backspace.svg" height="38" width="24"><label style="margin-left:10px; cursor:pointer">назад</label>
            </a>
        </div>

        <!--меню таблицы-->
        <div id="tableMenu" class="col-md-12" style="padding:0px">
            <input class="form-control-sm" placeholder="Поиск" id="searchDatatable">
            <a href="#AddRole" class="btn btn-sm btn-success" onclick="AddItem()" style="margin-left:20px">добавить</a>
        </div>
    </div>
</div>

<div id="page" style="margin-top:15px"></div>


<!------------------------------------------------------------------------------------------------------------------->
<!--загрузка таблицы-->
<script>
    function DataTable() {
        //location.hash = "#SettingsRoles";
        $('#header').text('Роли');

        $('#back').unbind('click');
        $('#back').click(function () { location.hash = "#settings" });

        $('#tableMenu').show();
        $('#editMenu').hide();
        $('#addMenu').hide();

        $('#page').empty();
        SpinnerShow();
        $('#page').load('/Calculator/CalculateSKUTable', function () { SpinnerHide(); });
    }
    DataTable();
</script>

<!--загрузка формы добавления-->
<script>
    function AddItem() {
        location.hash = "#AddRole";
        $('#header').text('Добавление роли');

        $('#back').unbind('click');
        $('#back').click(function () { DataTable(); });

        $('#tableMenu').hide();
        $('#editMenu').hide();
        $('#addMenu').show();

        $('#page').empty();
        SpinnerShow();
        $('#page').load('/Calculator/CalculateSKUEdit?SKUId=0', function () { SpinnerHide() });
    }
</script>

<!--загрузка редактора-->
<script>
    function EditItem(itemName, SKUId) {
        location.hash = "#RoleEditor";
        $('#header').text(itemName);

        $('#back').unbind('click');
        $('#back').click(function () { DataTable(); });

        $('#tableMenu').hide();
        $('#editMenu').show();
        $('#addMenu').hide();

        $('#page').empty();
        SpinnerShow();
        $('#page').load('/Calculator/CalculateSKUEdit?SKUId=' + SKUId, SpinnerHide());
    }
</script>