<!--шапка-->
<div id="headMenu" class="row" style="margin:0px">
    <div class="col-12">
        <div class="row" style="margin-top: 0px; margin-bottom:10px">
            <!--Назад-->
            <a id="back" href="#calculators" class="col-sm-1 el-marging" style="width:100px; cursor:pointer; color:black">
                <img src="~/themes/clearmin/img/md/dark/keyboard-backspace.svg" height="38" width="24"><label style="margin-left:10px; cursor:pointer">назад</label>
            </a>
        </div>       
    </div>
</div>

<div id="page" style="margin-top:15px"></div>

