<!--горизонтальные меню над контентом-->
<div class="cm-flex">
    <div class="nav-tabs-container">
        <ul class="nav nav-tabs">
            <li class="active"><a href="" data-toggle="tab" onclick="loadUrl('/Calculator/CalculateСoefficient')">Коэффициенты</a></li>
            <li><a href="" data-toggle="tab" onclick="loadUrl('/Settings_TT/TTsFactory')">Позиции</a></li>
            <li><a href="" data-toggle="tab" onclick="loadUrl('/Settings_TT/TTsFactory')">Спецдни</a></li>
        </ul>
    </div>
</div>