<!--блок элементов сверху-->
<div class="row" style="margin-top: 0px; margin-bottom:10px">

    <!--Назад-->
    <a href="#calculators" class="col-sm-1 el-marging" style="width:100px; cursor:pointer; color:black">
        <img src="~/themes/clearmin/img/md/dark/keyboard-backspace.svg" height="38" width="24"><label style="margin-left:10px; cursor:pointer">назад</label>
    </a>

</div>

<div class="panel panel-default" style="height:100px">
    <iframe id="frame" allowFullScreen="true"></iframe>
</div>

<!-------------------------------------------------------------------->

<script>

    var curOrient = '';

    // автозагрузка вертикальной или горизонтальной версии
    function autoScreenLoad() {
        var width = $(window).width();
        var height = $(window).height();
        orient = width / height;

        // горизонтальный макет
        if (orient > 1 & curOrient != 'horizontal') {
            curOrient = 'horizontal';
            var src = "https://app.powerbi.com/view?r=eyJrIjoiYmJlODg1YTQtNjc0Yi00MGZhLTgyZTItNmY1ZTIwYjU1ZGU4IiwidCI6ImIyMWI4OTc1LTc2NWEtNDI3My04MzUyLTVjNzU4Y2ViZjc5MSIsImMiOjl9";
            $('#frame').attr('src', src);
            $('#frame').css("height", "84vh");
        }

        // вертикальный макет
        if (orient < 1 & curOrient != 'vertical') {
            curOrient = 'vertical';
            var src = "https://app.powerbi.com/view?r=eyJrIjoiNTU5YjdmMjYtZGNmNy00OWJlLWI4OTYtMTNiYjI1ZDQ5NjY1IiwidCI6ImIyMWI4OTc1LTc2NWEtNDI3My04MzUyLTVjNzU4Y2ViZjc5MSIsImMiOjl9";
            $('#frame').attr('src', src);
            $('#frame').css("height", "75vh");
        }
    }

    $(window).resize(function () {
        autoScreenLoad();
    });

    autoScreenLoad();

</script>

<!--по загрузке страницы-->
<script>
    $(document).ready(function () {
        $('#loading').hide();
    });
</script>