<div class="panel panel-default" id="personTable" style="margin-bottom:0px">
    <div class="panel-body">
        <div class="row mb-4 mt-3">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <table class="data-table nowrap" id="tableDataPerson">
                            <thead>
                                <tr>
                                    <th>Фамилия</th>
                                    <th>Имя</th>
                                    <th>Отчество</th>
                                    <th>Должность</th>
                                    <th>Место работы</th>
                                    <th class="">Дата приема на работу</th>
                                    <th class="">Дата увольнения</th>
                                    <th class="">ЮЛ</th>
                                    <th class="">ЮЛ разнесения затрат</th>
                                    <th>Активность</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="paginationContainer"></div>

<script>
    var height = $('#global').height();
    height -= $('#cm-header').height();
    height -= $('#headMenu').height();
</script>

<script>
    // На время инициализации прячем, чтобы браузер меньше дергался layout-ом
    var $wrap = $('#tableDataPerson').closest('.card-body');
    $wrap.css('visibility', 'hidden');

    var table = $(".data-table").DataTable({
        processing: true,
        serverSide: true,
        ordering: true,
        paging: true,
        pageLength: 18,
        order: [[0, 'asc']],
        searching: true,
        bLengthChange: false,
        destroy: true,
        info: false,
        autoWidth: false,
        responsive: false,
        deferRender: true,
        scrollY: height,
        scrollCollapse: true,
        sDom: '<"row view-filter"<"col-sm-12"<"float-left"l><"float-right"f><"clearfix">>>t<"row view-pager"<"col-sm-12"<"text-center"ip>>>',
        language: {
            paginate: {
                first: "«",
                previous: "‹",
                next: "›",
                last: "»"
            }
        },
        ajax: {
            url: '/Personality/PersonalityTableData?showUnActual=@ViewBag.ShowUnActual&checkErrors=@ViewBag.CheckErrors',
            type: 'POST',
            error: function (xhr) {
                alert('DataTables error: ' + (xhr.responseText || xhr.statusText));
            }
        },
        columns: [
            { data: 'surname', render: function (data) { return '<p class="list-item-heading">' + (data || '') + '</p>'; } },
            { data: 'name', render: function (data) { return '<p class="userName text-muted">' + (data || '') + '</p>'; } },
            { data: 'patronymic', render: function (data) { return '<p class="text-muted">' + (data || '') + '</p>'; } },
            { data: 'jobTitleName', render: function (data) { return '<p class="text-muted">' + (data || '') + '</p>'; } },
            { data: 'locationName', render: function (data) { return '<p class="text-muted">' + (data || '') + '</p>'; } },
            { data: 'hireDate', render: function (data) { return '<p class="text-muted">' + (data || '') + '</p>'; } },
            { data: 'dismissalsDate', render: function (data) { return '<p class="text-muted">' + (data || '') + '</p>'; } },
            { data: 'entityName', render: function (data) { return '<p class="text-muted">' + (data || '') + '</p>'; } },
            { data: 'entityCostName', render: function (data) { return '<p class="text-muted">' + (data || '') + '</p>'; } },
            { data: 'status', render: function (data) { return '<p class="text-muted">' + (data || '') + '</p>'; } }
        ],
        createdRow: function (row, data) {
            if (data && data.personGuid) {
                $(row).attr('id', data.personGuid);
            }
            $(row).addClass('activeRow');
            if (data && data.hasErrors) {
                $(row).css('background-color', 'rgba(255, 87, 87, 0.19)');
            } else if (data && data.actual === 0) {
                $(row).css('background-color', 'rgba(243, 199, 160, 0.19)');
            }
        }
    });

    var paginate = $(table.table().container()).find('.dataTables_paginate').detach();
    $('#paginationContainer').append(paginate);

    $('.view-filter').hide();

    var $searchInput = $('#personality_search');
    if ($searchInput.length) {
        $searchInput.off('keyup').on('keyup', function () {
            table.search($(this).val()).draw();
        });
    }

    var $legacySearch = $('#searchDatatable');
    if ($legacySearch.length) {
        $legacySearch.off('keyup').on('keyup', function () {
            table.search($(this).val()).draw();
        });
    }

    $wrap.css('visibility', 'visible');
</script>

<script>
    $('#buttonAdd').unbind('click');
    $('#buttonAdd').click(function () {
        AddItem(0, 1)
    });

    $('#tableDataPerson tbody').off('click', 'tr.activeRow');
    $('#tableDataPerson tbody').on('click', 'tr.activeRow', function () {
        PersonalityVersions(this.id, 0);
    });

    $('#back').unbind('click');
    $('#back').click(function () { location.hash = "#staff" });
</script>
