<!--шапка-->
<div id="headMenu" class="row" style="margin:0px">
    <div class="col-12">

        <!--блок заголовка-->
        <table class="table-page-menu" style="margin-top: 10px; margin-bottom: 10px">
            <tbody>
                <tr>
                    <!--назад-->
                    <td id="back" style="text-align:left; width:100px; cursor:pointer">
                        <img src="/themes/clearmin/img/md/dark/keyboard-backspace.svg" height="38" width="24" style="cursor:pointer">
                        <label style="margin-left:10px; cursor:pointer">назад</label>
                    </td>
                    <!--заголовок-->
                    <td>
                        <h2 id="header" style="margin:0px; margin-left:5px; margin-right:20px; margin-bottom:6px"></h2>
                    </td>
                </tr>
            </tbody>
        </table>

        <!--меню таблицы-->
        <div class="tableMenu" id="tableMenu">
            
            <div id="tableMenu1" class="col-md-12" style="padding:0px">
                <input class="form-control-sm" id="personality_search" placeholder="Поиск" id="searchDatatable">
                <a href="#AddPerson" class="btn btn-sm btn-success" id="buttonAdd" style="margin-left:20px">добавить</a>
            </div>


            <div class="userActive">
                <span class="textForCheckbox">Показывать только активных пользователей</span>
                <label class="switch">
                    <input type="checkbox" class="switch__input" id="closedPersonality" onchange="loadPersonalityTable()" checked>
                    <span class="switch__slider"></span>
                </label>
            </div>

        </div>

        <!--меню добавления пользователя-->
        <div id="addMenu" class="col-md-12" style="margin-top:10px; padding:0px">

        </div>

    </div>
</div>

<div id="page" style="margin-top:15px"></div>

<script>

    function loadPersonalityTable() {
        let closedPersonality = document.getElementById('closedPersonality').checked;

        if (closedPersonality) {
            SpinnerShow();
            $('#page').load('/Personality/PersonalityTable?showUnActual=1', function () { SpinnerHide(); });
        } else {
            SpinnerShow();
            $('#page').load('/Personality/PersonalityTable?showUnActual=0', function () { SpinnerHide(); });
        }
    }
</script>

<script>
    function DataTable() {
        $('#header').text('Пользователи');
        $('#back').unbind('click');
        $('#back').click(function () { location.hash = "#staff" });
        $('#tableMenu').show();
        $('#page').empty();
        loadPersonalityTable();
    }
    DataTable()
</script>




<!--загрузка формы добавления пользователя-->
<script>
    function AddItem(typeGuid, newPerson) {
        location.hash = "#AddPerson";
        if (newPerson == 1) {
            $('#header').text('Добавление пользователя');
        } else {
            $('#header').text('Добавление версии');
        }
       $('#addMenu').show();
        SpinnerShow();
        $('#page').load(`/Personality/PersonalityEdit?typeGuid=${typeGuid}&newPerson=${newPerson}` , function () {
         SpinnerHide()
         });
    }
</script>

<!--загрузка редактора пользователя-->
<script>
    function EditItem(itemName, typeGuid, newPerson) {
        location.hash = "#EditPerson";
        $('#header').text(itemName);
        $('#tableMenu').hide();
        SpinnerShow();
        $('#page').load(`/Personality/PersonalityEdit?typeGuid=${typeGuid}&newPerson=${newPerson}`, function () {
            SpinnerHide()
        });
    }
</script>

<!--загрузка таблицы версий пользователя-->
<script>
    function PersonalityVersions(typeGuid, newPerson) {
        location.hash = "#PersonalityVersions";
        $('#header').text('Выбор версии');
        $('#back').unbind('click');
        $('#back').click(function () {
            $('#tableMenu').show();
            $('.userActive').show();
            DataTable();
         });
        $('.userActive').hide();
        $('#tableMenu').show();
        $('#editMenu').show();
        $('#addMenu').hide();
        SpinnerShow();
        $('#page').load(`/Personality/PersonalityVersions?typeGuid=${typeGuid}&newPerson=${newPerson}`, function () {
            SpinnerHide()
        });
    }
</script>